.content-container {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  width: 100%;
  padding: 30px 20px;
  position: relative;
}

.content-container.color-bg {
  background: rgb(37, 37, 37);
}

.content-container.transparent-bg {
  background: none;
}

.content-row {
  background: rgb(37, 37, 37);
  color: var(--blue-chrome-4);
  padding: 20px;
  display: flex;
  gap: 10px;
  position: relative;
  border: 1px solid red;
  transition: all 1s ease;
  transform: scale(0);
}

.content-row.test {
  padding-bottom: 200px;
  overflow: hidden;
  background: linear-gradient(white, rgb(162, 162, 162) 40%, white);
}

.content-container.open .content-row {
  transform: scale(1);
}

.content-row .column {
  width: 50%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px) {
  .content-row {
    flex-direction: column;
  }
  .content-row .column {
    width: 100%;
  }
}

.content-heading {
  font: 500 25px Ailerons;
  padding: 10px 0;
  color: aqua;
}

.content-heading.test {
  filter: drop-shadow(0 0 3px red);
}

.content-content {
  font: 500 20px Ailerons;
  padding: 10px 0;
  color: red;
}

.content-content.test {
  filter: drop-shadow(0 0 3px aqua);
}

.responsive-project {
  width: 100%;
  aspect-ratio: 4/3;
  background: linear-gradient(rgb(221, 221, 221) 87%, white 93%, lightgray);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.responsive-project.test {
  background: none;
  -webkit-box-reflect: below -13% linear-gradient(to top, rgb(255, 255, 255, 0.3), transparent);
}

.responsive-computer {
  width: 80%;
  height: 70%;
  background: linear-gradient(135deg, rgb(218, 218, 218) 50%, white 50%, rgb(220, 220, 220));
  box-shadow: 0 0 2rem rgb(0, 0, 0, 0.4);
  border-radius: 0.4rem;
  position: relative;
}

.responsive-computer::before {
  content: "";
  width: 20%;
  height: 10%;
  background: linear-gradient(to right, rgb(197, 197, 197), rgb(213, 213, 213), rgb(197, 197, 197));
  box-shadow: 0 0 4rem 0.1rem rgb(0, 0, 0, 0.4);
  position: absolute;
  bottom: -10%;
  left: 40%;
}

.responsive-computer::after {
  content: "";
  width: 40%;
  height: 3%;
  background: linear-gradient(to right, white, rgb(213, 213, 213), white);
  /* box-shadow: 0 -0.1rem 4rem 0.6rem rgb(0, 0, 0, 0.4); */
  filter: drop-shadow(0 0 2rem black);
  position: absolute;
  bottom: -12%;
  left: 30%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.responsive-image {
  width: 96%;
  height: 92%;
  border-radius: 0.3rem;
  position: absolute;
  top: 2%;
  left: 2%;
  background: url(../assets/images/vp-1.png) 0 0 / 100% 100%;
}

.responsive-image::after {
  content: "";
  width: 4%;
  height: 4%;
  border-radius: 3rem;
  background: white;
  box-shadow: inset -0.1rem 0.1rem 0.2rem rgb(78, 78, 78, 0.4);
  position: absolute;
  bottom: -5%;
  left: 48%;
}
.responsive-phone {
  width: 20%;
  height: 60%;
  background: linear-gradient(135deg, rgb(218, 218, 218) 30%, white 30%, rgb(220, 220, 220));
  box-shadow: -0.2rem 0.2rem 3rem rgb(0, 0, 0, 0.5);
  border-radius: 0.3rem;
  position: absolute;
  right: -10%;
  bottom: -10%;
}
.responsive-phone::before {
  content: "";
  width: 96%;
  height: 90%;
  border-radius: 0.2rem;
  position: absolute;
  top: 2%;
  left: 2%;
  background: url(../assets/images/vp-m.png) 0 0 / 100% 100%;
}

.responsive-phone::after {
  content: "";
  width: 12%;
  height: 5%;
  border-radius: 3rem;
  background: white;
  box-shadow: inset -0.1rem 0.1rem 0.2rem rgb(78, 78, 78, 0.4);
  position: absolute;
  bottom: 2%;
  left: 44%;
}
