:root {
  --bg-blur: 0.5;
  --hero-text-color: white;
}

header.page-content-header {
  width: 100%;
  height: calc(100vh - 80px);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--hero-text-color);
  font: 500 50px Ailerons;
  text-align: center;
  border: 5px solid white;
}

@media (max-width: 700px) {
  .hero-section-container {
    font-size: 30px;
  }
}

.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateZ(0);
  border: solid red;
}

.hero-section .text {
  width: fit-content;
  position: absolute;
  padding: 20px;
  filter: drop-shadow(-3px 0 1px red) drop-shadow(-3px 0 4px aqua);
  opacity: 0;
}

:root {
  --hero-section-anim-duration: 20s;
}

.hero-section .text:nth-child(1) {
  animation: hero-anim-1 var(--hero-section-anim-duration) ease infinite;
  animation-delay: 2s;
}

@keyframes hero-anim-1 {
  5% {
    opacity: 1;
  }
  18% {
    color: var(--hero-text-color);
    opacity: 1;
  }
  18.5% {
    color: aqua;
    opacity: 0;
  }
  19% {
    opacity: 1;
  }
  19.5% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
}

.hero-section .text:nth-child(2) {
  animation: hero-anim-2 var(--hero-section-anim-duration) ease infinite;
  animation-delay: 2s;
}

@keyframes hero-anim-2 {
  18% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  38% {
    color: var(--hero-text-color);
    opacity: 1;
  }
  38.5% {
    color: aqua;
    opacity: 0;
  }
  39% {
    opacity: 1;
  }
  39.5% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
}

.hero-section .text:nth-child(3) {
  animation: hero-anim-3 var(--hero-section-anim-duration) ease infinite;
  animation-delay: 2s;
}

@keyframes hero-anim-3 {
  38% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  68% {
    color: var(--hero-text-color);
    opacity: 1;
  }
  68.5% {
    color: aqua;
    opacity: 0;
  }
  69% {
    opacity: 1;
  }
  69.5% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
}

.hero-section .text:nth-child(4) {
  animation: hero-anim-4 var(--hero-section-anim-duration) ease infinite;
  animation-delay: 2s;
}

@keyframes hero-anim-4 {
  68% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  98% {
    color: var(--hero-text-color);
    opacity: 1;
  }
  98.5% {
    color: aqua;
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  99.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.banner {
  width: 100%;
  min-height: 100px;
  background-image: linear-gradient(to bottom right, rgb(37, 37, 37, var(--bg-blur)), rgb(0, 70, 70, var(--bg-blur)), rgb(37, 37, 37, var(--bg-blur)), rgb(0, 70, 70, var(--bg-blur)), rgb(37, 37, 37, var(--bg-blur)));
  backdrop-filter: blur(5px);
}

.banner-1 {
  background-image: linear-gradient(transparent, rgb(37, 37, 37));
}

/* ////////////////////////////////////////////////////////// */

.about-text,
.projects-text {
  animation: heading-scale 18s ease-in-out infinite;
}
/* /////////////////////////////////////////////////////////////// */
.word-pop {
  color: white;
  filter: drop-shadow(0 0 5px aqua);
}

.text-link {
  color: white;
  filter: drop-shadow(0 0 5px aqua);
  cursor: pointer;
  border: solid red;
}
.text-link:hover {
  text-decoration: underline;
}
