.x-pad {
  width: 120px;
  height: 120px;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 96;
  border: 2px solid lightgray;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}

.x-pad::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid lightgray;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
}

.x-pad div {
  width: 120px;
  height: 60px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.x-pad-up {
  top: -5%;
  transform: rotate(180deg);
}

.x-pad-down {
  top: 53%;
}

.x-pad-left {
  top: 25%;
  left: -30%;
  transform: rotate(90deg);
}

.x-pad-right {
  top: 25%;
  left: 29%;
  transform: rotate(270deg);
}

.x-pad-up::before,
.x-pad-down::before,
.x-pad-left::before,
.x-pad-right::before {
  content: "";
  width: 25px;
  height: 40px;
  border: 1px solid white;
  border-top: none;
  border-radius: 5px;
  position: absolute;
}

.x-pad-up.pressing,
.x-pad-down.pressing,
.x-pad-left.pressing,
.x-pad-right.pressing {
  background: white;
}

.fire-btn {
  width: 80px;
  height: 80px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: white;
  border: 2px solid lightgray;
  border-radius: 50%;
  background: transparent;
  box-shadow: 1px 2px 5px 1px rgb(0, 0, 0, 0.5);
}

.fire-btn.pressing {
  background: red;
}
