:root {
  --clip: 5px;
  --clip-left: 10px;
  --clip-right: calc(100% - 10px);
}

@media (max-width: 700px) {
  :root {
    --clip-left: 5px;
    --clip-right: calc(100% - 5px);
  }
}

.credits-modal {
  width: calc(100% - 20px);
  max-width: 700px;
  height: calc(100% - 80px);
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 97;
  margin: 0 auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.9);
  border: 2px solid red;
  border-radius: 5px;
  box-shadow: inset 0 0 5px 1px cyan;
  backdrop-filter: blur(10px);
  clip-path: polygon(100% 0, 100% 20%, var(--clip-right) calc(20% + var(--clip)), var(--clip-right) calc(80% - var(--clip)), 100% 80%, 100% 100%, 0 100%, 0 80%, var(--clip) calc(80% - var(--clip)), var(--clip) calc(20% + var(--clip)), 0 20%, 0 0);
}

/* CSSTransition Styling */
.credits-modal-enter {
  transform: translateY(-150%);
}
.credits-modal-enter-active {
  transform: translateY(0);
  transition: transform 700ms ease;
}
.credits-modal-exit {
  transform: translateY(0);
}
.credits-modal-exit-active {
  transform: translateY(-150%);
  transition: transform 700ms ease;
}

.loading-section {
  width: 100%;
  height: 25px;
  position: relative;
  /* clip-path: polygon(15% 0, calc(15% + 16px) 50%, calc(30% - 16px) 50%, 30% 0, 70% 0, calc(70% + 16px) 50%, calc(85% - 16px) 50%, 85% 0, 100% 0, calc(100% - 16px) 50%, 85% 50%, calc(85% - 16px) 100%, calc(70% + 16px) 100%, 70% 50%, calc(70% - 16px) 100%, calc(30% + 16px) 100%, 30% 50%, calc(30% - 16px) 100%, calc(15% + 16px) 100%, 15% 50%, 0 50%, 16px 0); */
  clip-path: polygon(15% 0, calc(15% + 16px) 50%, calc(30% - 16px) 50%, 30% 0, 70% 0, calc(70% + 16px) 50%, calc(85% - 16px) 50%, 85% 0, 100% 0, calc(100% - 16px) 50%, 85% 50%, calc(85% - 16px) 100%, calc(70% + 16px) 100%, 70% 50%, calc(70% - 16px) 100%, calc(30% + 16px) 100%, 30% 50%, calc(30% - 16px) 100%, calc(15% + 16px) 100%, 15% 50%, 0 50%, 16px 0);
}

.loading-progress {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: cyan;
  box-shadow: inset 0 0 5px 1px blue;
  transition: width 0.5s;
}

/* .loading-progress::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, red, blue, red);
  position: absolute;
  clip-path: polygon(15% 15%, calc(15% + 16px) 65%, calc(30% - 16px) 65%, 30% 15%, calc(30% + 18px) 70%, calc(30% + 18px) 70%, 35% 15%, 40% 70%, 45% 15%, 50% 70%, 55% 15%, 60% 70%, 65% 15%, calc(70% - 18px) 70%, 70% 15%, calc(70% + 16px) 65%, calc(85% - 16px) 65%, 85% 15%, calc(100% - 8px) 15%, calc(100% - 16px) 35%, 85% 35%, calc(85% - 16px) 85%, calc(70% + 16px) 85%, 70% 35%, calc(70% - 18px) 85%, 65% 30%, 60% 85%, 55% 30%, 50% 85%, 45% 30%, 40% 85%, 35% 30%, calc(30% + 18px) 85%, 30% 35%, calc(30% - 16px) 85%, calc(15% + 16px) 85%, 15% 35%, 8px 35%, 16px 15%);
  animation: electro 1s ease infinite;
} */

/* @keyframes electro {
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    background: white;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
    background: white;
  }
  60% {
    opacity: 0;
  }
} */

.loadMessage {
  width: fit-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: cyan;
  mix-blend-mode: difference;
  opacity: 1;
}

.loading-anim {
  animation: load-message-flash 2s ease infinite;
}

@keyframes load-message-flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* CONTENT & BUTTONS */
.text-container {
  height: 100%;
  width: 100%;
  padding: 50px 0px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.credits-header {
  margin: 20px;
  color: yellow;
  font: 40px cyberpunk;
  text-shadow: -2px -2px 5px red;
}

.credits-info {
  width: 100%;
  margin: 20px 0px;
  text-align: center;
  color: cyan;
  font-size: 20px;
  word-wrap: break-word;
}

.credits-info.link {
  text-decoration: underline;
  text-shadow: -2px -2px 5px red;
}

.credits-hr {
  width: 80%;
  margin: 10px auto;
  border: 1px solid cyan;
  border-radius: 100px;
  background: cyan;
  box-shadow: 0 0 10px 1px cyan;
}

.credits-hr-sm {
  width: 40%;
  margin: 10px auto;
  border: 1px solid cyan;
  border-radius: 100px;
  background: cyan;
  box-shadow: 0 0 10px 1px cyan;
}

.btn-close-modal {
  width: 50px;
  height: 50px;
  background: radial-gradient(rgba(0, 255, 255, 0.5), rgba(0, 255, 255, 0.7));
  border: 1px solid red;
  border-bottom: none;
  border-top-left-radius: 5px;
  clip-path: polygon(20% 0, 25% 5%, 75% 5%, 80% 0, 100% 0, 100% 100%, 0 100%, 0 0);
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  color: red;
  text-shadow: 0 0 5px aqua;
  font-weight: bold;
  cursor: pointer;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 0 8px 4px aqua;
}

.btn-close-modal::after {
  display: inline-block;
  content: "\00d7";
  font-size: x-large;
}
.btn-close-modal:hover {
  color: aqua;
  text-shadow: 0 0 5px red;
  border: 1px solid aqua;
  box-shadow: inset 0 0 4px 2px aqua;
}

.btn-open-modal {
  width: 60px;
  height: 30px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 96;
  margin: 0 auto;
  background: rgba(0, 255, 255, 0.3);
  border: none;
  border-top-left-radius: 10px;
  color: red;
  cursor: pointer;
  text-transform: uppercase;
}
