.credits-modal {
  width: calc(100% - 20px);
  max-width: 700px;
  height: calc(100% - 100px);
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  z-index: 999;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid red;
  border-radius: 10px;
  box-shadow: inset 0 0 5px 1px aqua;
  backdrop-filter: blur(10px);
}

.credits-modal-enter {
  transform: translateY(-150%);
}
.credits-modal-enter-active {
  transform: translateY(0);
  transition: transform 700ms ease;
}
.credits-modal-exit {
  transform: translateY(0);
}
.credits-modal-exit-active {
  transform: translateY(-150%);
  transition: transform 700ms ease;
}

.credits-header {
  margin: 20px;
  text-align: center;
  color: aqua;
}

.credits-info {
  margin: 20px;
  text-align: center;
  color: aqua;
  font-size: 20px;
  word-wrap: break-word;
}

.credits-info.link {
  text-decoration: underline;
}

.btn-close-modal {
  width: 200px;
  height: 50px;
  background: aqua;
  border: 1px solid red;
  border-radius: 999px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.btn-open-credits {
  width: 100px;
  height: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  margin: 0 auto;
  background: rgba(0, 255, 255, 0.3);
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: red;
  cursor: pointer;
  text-transform: uppercase;
}
