:root {
  --clip-left: 15px;
  --clip-right: calc(100% - 15px);
}

@media (max-width: 700px) {
  :root {
    --clip-left: 10px;
    --clip-right: calc(100% - 10px);
  }
}

.credits-modal {
  width: calc(100% - 20px);
  max-width: 700px;
  height: calc(100% - 100px);
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  z-index: 97;
  margin: 0 auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.9);
  border: 2px solid red;
  border-radius: 10px;
  box-shadow: inset 0 0 5px 1px cyan;
  backdrop-filter: blur(10px);
  clip-path: polygon(100% 0, 100% 20%, var(--clip-right) 25%, var(--clip-right) 75%, 100% 80%, 100% 100%, 0 100%, 0 80%, var(--clip-left) 75%, var(--clip-left) 25%, 0 20%, 0 0);
}

/* CSSTransition Styling */
.credits-modal-enter {
  transform: translateY(-150%);
}
.credits-modal-enter-active {
  transform: translateY(0);
  transition: transform 700ms ease;
}
.credits-modal-exit {
  transform: translateY(0);
}
.credits-modal-exit-active {
  transform: translateY(-150%);
  transition: transform 700ms ease;
}

/* CONTENT & BUTTONS */
.text-container{
  height: 100%;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.credits-header {
  margin: 20px;
  color: cyan;
}

.credits-info {
  margin: 20px;
  text-align: center;
  color: cyan;
  font-size: 20px;
  word-wrap: break-word;
}

.credits-info.link {
  text-decoration: underline;
  text-shadow: -2px -2px 5px  red;
}

.credits-hr {
  width: 80%;
  margin: 20px auto;
  border: 1px solid cyan;
  border-radius: 100px;
  background: cyan;
  box-shadow: 0 0 10px 1px cyan;
}

.credits-hr-sm {
  width: 40%;
  margin: 20px auto;
  border: 1px solid cyan;
  border-radius: 100px;
  background: cyan;
  box-shadow: 0 0 10px 1px cyan;
}

.btn-close-modal {
  width: 200px;
  height: 50px;
  background: cyan;
  border: 1px solid red;
  border-radius: 7px;
  clip-path: polygon(20% 0, 25% 5%, 75% 5%, 80% 0, 100% 0, 100% 100%, 80% 100%, 75% 95%, 25% 95%, 20% 100%, 0 100%, 0 0);
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.btn-open-modal {
  width: 100px;
  height: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 96;
  margin: 0 auto;
  background: rgba(0, 255, 255, 0.3);
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: red;
  cursor: pointer;
  text-transform: uppercase;
}
