.footer-link-container {
  width: fit-content;
  max-width: 500px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 96;
  display: flex;
  gap: 30px;
}

:root {
  --hex-bg-size: 7.5px;
  --center-icon-hex-lines: 2px;
}

.center-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -2;
  background-image: linear-gradient(
      45deg,
      transparent calc(15% - var(--center-icon-hex-lines)),
      cyan 15%,
      transparent calc(15% + var(--center-icon-hex-lines))
        calc(85% - var(--center-icon-hex-lines)),
      cyan 85%,
      transparent calc(85% + var(--center-icon-hex-lines))
    ),
    linear-gradient(
      -45deg,
      transparent calc(15% - var(--center-icon-hex-lines)),
      cyan 15%,
      transparent calc(15% + var(--center-icon-hex-lines))
        calc(85% - var(--center-icon-hex-lines)),
      cyan 85%,
      transparent calc(85% + var(--center-icon-hex-lines))
    );
  /* box-shadow: inset 0 0 3px 1px cyan; */
  filter: drop-shadow(0 0 2px cyan);
}

.center-icon-2 {
  width: 80px;
  height: 20px;
  padding: 0 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10101;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
}

.center-icon-2.center {
  height: 10px;
  top: 42px;
}

.center-icon-2 .bar {
  width: 40%;
  height: 2px;
  background: radial-gradient(ellipse, cyan, red);
  border-radius: 100%;
  box-shadow: 0 0 2px 1px red;
  filter: drop-shadow(0 0 2px cyan);
  transform: scaleX(1);
  animation: scale-link-icon 6s ease-in-out infinite;
}

@keyframes scale-link-icon {
  0%,
  100%,
  45%,
  55% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.1);
  }
}

.center-icon-2 .bar.center {
  width: 100%;
  height: 3px;
  filter: drop-shadow(0 0 3px cyan);
  animation-delay: 200ms;
}

.center-icon-2 .bar.bottom {
  animation-delay: 400ms;
}

.footer-link {
  width: 100px;
  min-width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 100 25px Ailerons;
  color: cyan;
  text-shadow: 2px 0 2px red, -2px 0 2px red, 0 2px 2px red, 0 -2px 2px red;
  border: 1px solid red;
  background-image: var(--hex-bg-image);
  background-size: var(--hex-bg-size) var(--hex-bg-size);
  box-shadow: inset 0 -4px 10px 1px rgba(200, 0, 0, 0.5);
  position: relative;
}

.footer-link.center.pressed {
  transform: scale(0.95);
}

.footer-link:hover {
  filter: drop-shadow(0 0 4px cyan);
}

.footer-link.left {
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 20px, 20px 0);
  border-right: 1px solid red;
  border-left: none;
}

.footer-link.left.pressed {
  transform: scale(0.95);
}

.footer-link.right {
  clip-path: polygon(calc(100% - 20px) 0, 100% 20px, 100% 100%, 0 100%, 0 0);
  border-left: 1px solid red;
  border-right: none;
}

.footer-link.right.pressed {
  transform: scale(0.95);
}

.footer-link-container .shadow {
  width: 100px;
  height: 40px;
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  left: 0;
  z-index: -1;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.8);
}

.footer-link-container .shadow.pressed {
  background: none;
  box-shadow: none;
}

.footer-link-container .shadow.left {
  border-top-left-radius: 35px;
}

.footer-link-container .shadow.right {
  left: calc(50% + 15px);
  border-top-right-radius: 35px;
}

.footer-link-container .shadow.center {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.effect {
  width: 107px;
  height: 1px;
  background: cyan;
  position: absolute;
  bottom: -2px;
  left: -2px;
  z-index: 111111;
  box-shadow: 0 0 5px 1px cyan;
  border-radius: 1010px;
}

.effect.right {
  left: auto;
  right: -2px;
}

.effect-4,
.center.effect-4::after {
  width: 1px;
  height: 20px;
  background: red;
  border-radius: 100px;
  box-shadow: 0 0 5px 1px cyan;
  position: absolute;
  left: -2px;
  bottom: -2px;
  transform-origin: 50% 100%;
  transition: transform 100ms ease-out 100ms;
}

.center.effect-4::after {
  content: "";
  left: auto;
  right: -103px;
  bottom: 0;
}

.effect-4.right {
  left: auto;
  right: -2px;
}

.effect-2,
.effect-2.center::after,
.effect-3,
.effect-3.center::after {
  width: 1px;
  height: 20px;
  position: absolute;
  bottom: 0;
  z-index: 101010;
  background: cyan;
  box-shadow: 0 0 4px 1px cyan;
  border-radius: 100px;
}

.effect-2.center::after {
  content: "";
  right: -99px;
}

.effect-3.left,
.effect-3.right,
.effect-3.center,
.effect-3.center::after {
  height: 28px;
  transform: rotate(45deg);
  left: 9.5px;
  bottom: 16px;
}

.effect-3.center::after {
  content: "";
  left: auto;
  right: -56.5px;
  bottom: 56.5px;
  transform: rotate(90deg);
}

.effect-2.right {
  right: 0;
}

.effect-3.right {
  left: auto;
  right: 9.5px;
  transform: rotate(-45deg);
}

.footer-link.center {
  border-left: none;
  border-right: none;
  clip-path: polygon(
    calc(100% - 20px) 0,
    100% 20px,
    100% 100%,
    0 100%,
    0 20px,
    20px 0
  );
}

.effect.center {
  width: 104px;
}
