/* MAIN PAGE HEADER ////////////////////////////////// */
.main-site-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main-site-header.game-open {
  display: none;
}

.logo-container {
  width: 60px;
  height: 50px;
  margin: 10px 15px;
  padding: 7px;
  border: 1px solid red;
  box-shadow: inset 0 0 2px 1px red;
  clip-path: polygon(20% 0, 25% 5%, 75% 5%, 80% 0, 100% 0, 100% 100%, 80% 100%, 75% 95%, 25% 95%, 20% 100%, 0 100%, 0 0);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 9%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 700px) {
  .logo-container {
    margin: 5px;
  }
}

.logo {
  height: 50%;
  width: 7%;
  transform-origin: 50% 100%;
  background: aqua;
  filter: drop-shadow(0 0 4px aqua);
}

.logo:nth-child(2),
.logo:nth-child(4) {
  height: 100%;
}

.logo:nth-child(3) {
  margin-right: 5%;
}

.logo:nth-child(4),
.logo:nth-child(5) {
  background: red;
  filter: drop-shadow(0 0 4px red);
}

@media (min-width: 1000px) {
  .logo {
    animation: logo-anim 3s linear 1.2s;
  }
  .logo:nth-child(2),
  .logo:nth-child(4) {
    animation: logo-anim-2 3s linear 1.2s;
  }
}

@keyframes logo-anim {
  30% {
    height: 0;
  }
}

@keyframes logo-anim-2 {
  20% {
    height: 0;
  }
  50% {
    height: 50%;
  }
  70% {
    height: 0;
  }
}

.site-title-container {
  display: flex;
}

.site-title {
  height: fit-content;
  padding: 5px 10px;
  font: 100 40px Ailerons, "Oswald", sans-serif;
  text-transform: uppercase;
  color: aqua;
  filter: drop-shadow(-2px -1px 2px red);
}

.site-title-word {
  color: red;
  filter: drop-shadow(-2px -1px 2px aqua);
}

@media (max-width: 500px) {
  .site-title {
    font-size: 30px;
  }
}

.header-trapezoid {
  position: absolute;
  top: 0;
  left: calc(50% - 30%);
  width: 60%;
  height: 15%;
  background: aqua;
  clip-path: polygon(100% 0, 80% 100%, 20% 100%, 0 0);
}

.title-side-border {
  width: 1px;
  height: 50px;
  background: aqua;
  animation: title-border 6s ease-in-out infinite;
}

@keyframes title-border {
  10% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
}

/* BUTTON - OPEN/CLOSE NAVIGATION MENU */
.button-nav-menu {
  width: 60px;
  height: 50px;
  margin: 10px 15px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background: none;
  border: 1px solid red;
  box-shadow: inset 0 0 2px 1px red;
  clip-path: polygon(100% 0, 100% 20%, 95% 25%, 95% 75%, 100% 80%, 100% 100%, 0 100%, 0 0);
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 700px) {
  .button-nav-menu {
    margin: 5px;
  }
}

.open-bars,
.open-bars::before,
.open-bars::after {
  width: 30px;
  height: 3px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.3s ease-in-out;
}

.open-bars::before,
.open-bars::after {
  content: "";
  width: 100%;
  background: aqua;
  box-shadow: 0 0 5px 1px aqua;
  transform: translateY(-5px);
}

.open-bars::after {
  transform: translateY(5px);
}

.close-bars,
.close-bars::after {
  width: 30px;
  height: 3px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(45deg);
  transition: 0.3s ease-in-out;
  background: red;
  filter: drop-shadow(0 0 4px red);
}

.close-bars::after {
  content: "";
  transform: rotate(-90deg);
}
