/* MAIN PAGE HEADER ////////////////////////////////// */
.main-site-header {
  width: 100%;
  height: fit-content;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.main-site-header.game-open {
  display: none;
}

/* LEFT SIDE HEADER: LOGO ///////////// */
.logo-container {
  width: 60px;
  height: 50px;
  padding: 7px;
  border: 1px solid red;
  box-shadow: inset 0 0 2px 1px red;
  clip-path: polygon(
    20% 0,
    25% 5%,
    75% 5%,
    80% 0,
    100% 0,
    100% 100%,
    80% 100%,
    75% 95%,
    25% 95%,
    20% 100%,
    0 100%,
    0 0
  );
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 9%;
  position: relative;
  z-index: 5;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.2), transparent);
  backdrop-filter: blur(2px);
}

.logo-box-shadow {
  width: 60px;
  height: 44px;
  position: absolute;
  top: 3px;
  left: 0;
}

.logo {
  height: 50%;
  width: 7%;
  transform-origin: 50% 100%;
  background: aqua;
  filter: drop-shadow(0 0 4px aqua);
}

.logo:nth-child(2),
.logo:nth-child(4) {
  height: 100%;
}

.logo:nth-child(3) {
  margin-right: 5%;
}

.logo:nth-child(4),
.logo:nth-child(5) {
  background: red;
  filter: drop-shadow(0 0 4px red);
}

@media (min-width: 1000px) {
  .logo {
    animation: logo-anim 3s linear 1.2s;
  }
  .logo:nth-child(2),
  .logo:nth-child(4) {
    animation: logo-anim-2 3s linear 1.2s;
  }
}

@keyframes logo-anim {
  30% {
    height: 0;
  }
}

@keyframes logo-anim-2 {
  20% {
    height: 0;
  }
  50% {
    height: 50%;
  }
  70% {
    height: 0;
  }
}

/* HEADER CENTER: SITE TITLE /////////// */
.site-title-container {
  display: flex;
}

.site-title {
  padding: 0 10px;
  font: 100 40px Ailerons, "Oswald", sans-serif;
  text-transform: uppercase;
  color: aqua;
  filter: drop-shadow(-2px -1px 2px red);
}

.site-title-word {
  color: red;
  filter: drop-shadow(-2px -1px 2px aqua);
}

.header-trapezoid {
  position: absolute;
  top: 0;
  left: calc(50% - 30%);
  width: 60%;
  height: 15%;
  background: aqua;
  clip-path: polygon(100% 0, 80% 100%, 20% 100%, 0 0);
}

.title-side-border {
  width: 2px;
  height: 50px;
  border-radius: 111px;
  background: aqua;
  animation: title-border 5s ease-in-out infinite;
}

@keyframes title-border {
  0% {
    opacity: 0;
    filter: none;
    box-shadow: none;
  }
  10% {
    opacity: 1;
    filter: drop-shadow(0 0 4px cyan);
    box-shadow: 0 0 5px 1px cyan;
  }
  20% {
    opacity: 0;
    filter: none;
    box-shadow: none;
  }
  100% {
    opacity: 0;
    filter: none;
    box-shadow: none;
  }
}

/* BUTTON - OPEN/CLOSE NAVIGATION MENU */
.btn-nav-menu {
  width: 60px;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 1010;
  background: none;
  border: 1px solid red;
  box-shadow: inset 0 0 2px 1px red;
  clip-path: polygon(
    100% 0,
    100% 100%,
    80% 100%,
    75% 95%,
    25% 95%,
    20% 100%,
    0% 100%,
    0% 80%,
    5% 75%,
    5% 30%,
    0 25%,
    0 0
  );
  background: radial-gradient(circle, rgba(0, 0, 0, 0.2), transparent);
  backdrop-filter: blur(2px);
}

.btn-nav-box-shadow {
  width: 57px;
  height: 47px;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 700px) {
  .site-title {
    font-size: 30px;
  }
}

.btn-nav-menu .bar {
  width: 60%;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  transition: transform 500ms ease-in-out;
}

.bar.open {
  top: 40%;
  background: cyan;
  box-shadow: 0 0 4px 1px cyan;
}

.bar.open:nth-child(2) {
  top: 60%;
}

.bar.open.scale-x {
  transform: scaleX(0);
}

.bar.close {
  top: 50%;
  background: red;
  filter: drop-shadow(0 0 5px cyan);
  transform: rotate(45deg);
}

.bar.close:nth-child(4) {
  transform: rotate(-45deg);
}

.bar.close.scale-x {
  transform: rotate(45deg) scaleX(0);
}

.bar.close.scale-x:nth-child(4) {
  transform: rotate(-45deg) scaleX(0);
}
