.nav-menu {
  width: calc(100% - 40px);
  max-width: 1200px;
  height: calc(100% - 100px);
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  z-index: 99;
  margin: 0 auto;
  overflow: auto;
}

@media (max-width: 700px) {
  .nav-menu {
    height: calc(100% - 100px);
    top: 70px;
  }
}

@media (orientation: landscape) and (max-width: 700px) {
  .nav-menu {
    justify-content: flex-start;
    overflow: auto;
    box-shadow: none;
  }
}

.nav-menu-bg-left,
.nav-menu-bg-right {
  width: 50%;
  max-width: 600px;
  height: 100%;
  background: rgb(0, 0, 0, 0.9);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  z-index: 98;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10%;
  justify-content: center;
}

.nav-menu-bg-left {
  left: calc(50% - 600px);
  border-right: 1px solid aqua;
  align-items: flex-end;
}

.nav-menu-bg-right {
  right: calc(50% - 600px);
  border-left: 1px solid aqua;
  align-items: flex-start;
}

@media (max-width: 1200px) {
  .nav-menu-bg-left {
    left: 0;
  }

  .nav-menu-bg-right {
    right: 0;
  }
}

@media (max-width: 700px) {
  .nav-menu-bg-left,
  .nav-menu-bg-right {
    background: black;
    backdrop-filter: none;
  }
}

.hr {
  width: 80%;
  height: 2px;
  background: aqua;
  border: none;
}

.hr.top,
.hr.bottom {
  width: 60%;
}

/* NavMenu CSSTransition */
.nav-menu-enter {
  transform: translateY(-130%);
}

.nav-menu-enter-active {
  transform: translateY(0%);
  transition: transform 700ms ease;
}

.nav-menu-exit {
  transform: translateY(0%);
}

.nav-menu-exit-active {
  transform: translateY(-130%);
  transition: transform 700ms ease;
}

/* NavMenu Bg Left CSSTransition */
.nav-menu-bg-left-enter {
  transform: translateX(-170%);
}

.nav-menu-bg-left-enter-active {
  transform: translateX(0%);
  transition: transform 500ms ease;
}

.nav-menu-bg-left-exit {
  transform: translateX(0%);
}

.nav-menu-bg-left-exit-active {
  transform: translateX(-170%);
  transition: transform 500ms ease;
}

/* NavMenu Bg Right CSSTransition */
.nav-menu-bg-right-enter {
  transform: translateX(170%);
}

.nav-menu-bg-right-enter-active {
  transform: translateX(0%);
  transition: transform 500ms ease;
}

.nav-menu-bg-right-exit {
  transform: translateX(0%);
}

.nav-menu-bg-right-exit-active {
  transform: translateX(170%);
  transition: transform 500ms ease;
}

.nav-menu .link {
  width: calc(100% - 40px);
  max-width: 400px;
  height: 70px;
  margin: 20px auto;
  border: 3px solid aqua;
  border-radius: 5px;
  box-shadow: 0 2px 7px 1px rgb(0, 0, 0, 0.7);
  background: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 100 25px Ailerons;
  letter-spacing: 4px;
  text-align: center;
  color: white;
  transition: all 500ms ease-in-out;
  text-decoration: none;
}

.nav-menu .link.active,
.nav-menu .link:hover {
  background: red;
  text-decoration: underline;
}

@media (max-width: 700px) {
  .nav-menu .link {
    height: 50px;
    min-height: 50px;
  }
}
