.header-idahome {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1010;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-idahome {
  width: 50px;
  height: 50px;
  background: url(./logos/FullColor_TransparentBgcrop_72dpi.png) center/70%
    no-repeat;
  filter: drop-shadow(0 0 3px rgba(0, 255, 255, 0.5));
}

.title-idahome {
  font: 30px sans-serif;
  color: #0573ce;
  text-shadow: 0 -2px 2px rgb(100, 255, 255);
}

/* BTN NAV MENU ///////////////////////////////////////////// */
.btn-idahome-menu .bar {
  width: 50%;
  height: 1px;
  border-radius: 100px;
  position: absolute;
  transition: transform 200ms linear;
}

.btn-idahome-menu .bar.open {
  top: 41%;
  background: white;
  box-shadow: 0 0 1px 1px rgba(0, 255, 255, 0.6),
    0 1px 3px 1px rgba(0, 0, 0, 0.6);
  filter: drop-shadow(0 0 2px cyan);
}

.btn-idahome-menu .bar.open:nth-child(2) {
  top: auto;
  bottom: 41%;
}

.btn-idahome-menu .bar.open.scale-x {
  transform: scaleX(0);
}

.btn-idahome-menu .bar.close {
  top: 50%;
  background: red;
  filter: drop-shadow(0 0 5px cyan);
  transform: rotate(45deg);
}

.btn-idahome-menu .bar.close:nth-child(4) {
  transform: rotate(-45deg);
}

.btn-idahome-menu .bar.close.scale-x {
  transform: rotate(45deg) scaleX(0);
}

.btn-idahome-menu .bar.close.scale-x:nth-child(4) {
  transform: rotate(-45deg) scaleX(0);
}

/* NAV MENU ///////////////////////////////// */
.idahome-nav-menu {
  width: calc(100% - 20px);
  height: calc(100% - 100px);
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 666;
  margin: 0 10px;
  padding: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: inset 0 1px 7px 1px rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

@media (max-width: 700px) {
  .idahome-nav-menu {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid cyan;
    backdrop-filter: none;
  }
}

/* NavMenu CSSTransition */
.idahome-nav-menu-enter {
  transform: translateY(-130%);
}
.idahome-nav-menu-enter-active {
  transform: translateY(0%);
  transition: transform 800ms ease;
}
.idahome-nav-menu-exit {
  transform: translateY(0%);
}
.idahome-nav-menu-exit-active {
  transform: translateY(-130%);
  transition: transform 800ms ease;
}

/* NavMenu left and right back panels */
.idahome-bg {
  width: calc(50% + 10px);
  height: 100%;
  background: rgb(0, 200, 200, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  z-index: 665;
}

@media (max-width: 700px) {
  .idahome-bg {
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: none;
  }
}

.idahome-bg.left {
  left: 0;
  /* border-right: 1px solid cyan; */
  box-shadow: inset -2px 0 10px 1px rgba(0, 255, 255, 0.5);
  clip-path: polygon(
    calc(100% - 20px) 0,
    calc(100% - 20px) calc(20% - 10px),
    100% calc(20% + 10px),
    100% calc(40% - 10px),
    calc(100% - 20px) calc(40% + 10px),
    calc(100% - 20px) calc(60% - 10px),
    100% calc(60% + 10px),
    100% calc(80% - 10px),
    calc(100% - 20px) calc(80% + 10px),
    calc(100% - 20px) 100%,
    0 100%,
    0 0
  );
}

.idahome-bg.right {
  right: 0;
  /* border-left: 1px solid cyan; */
  box-shadow: inset 2px 0 10px 1px rgba(0, 255, 255, 0.5);
  clip-path: polygon(
    100% 0,
    100% 100%,
    0 100%,
    0 calc(80% + 10px),
    20px calc(80% - 10px),
    20px calc(60% + 10px),
    0 calc(60% - 10px),
    0 calc(40% + 10px),
    20px calc(40% - 10px),
    20px calc(20% + 10px),
    0 calc(20% - 10px),
    0 0
  );
}

:root {
  --idahome-bg-speed: 800ms;
}

/* idahome-Bg Left CSSTransition */
.idahome-bg.left-enter {
  transform: translateX(-100%);
}
.idahome-bg.left-enter-active {
  transform: translateX(0%);
  transition: transform var(--idahome-bg-speed) ease;
}
.idahome-bg.left-exit {
  transform: translateX(0%);
}
.idahome-bg.left-exit-active {
  transform: translateX(-100%);
  transition: transform var(--idahome-bg-speed) ease;
}
/* idahome-Bg Right CSSTransition */
.idahome-bg.right-enter {
  transform: translateX(100%);
}
.idahome-bg.right-enter-active {
  transform: translateX(0%);
  transition: transform var(--idahome-bg-speed) ease;
}
.idahome-bg.right-exit {
  transform: translateX(0%);
}
.idahome-bg.right-exit-active {
  transform: translateX(100%);
  transition: transform var(--idahome-bg-speed) ease;
}

.idahome-nav-menu .link {
  width: 200px;
  max-width: 333px;
  height: 40px;
  background: blue;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font: 100 25px Ailerons;
  letter-spacing: 4px;
  text-decoration: none;
  border: 1px solid aqua;
  border-radius: 200px;
  box-shadow: inset 0 0 10px 1px rgb(0, 255, 255, 0.6),
    2px 2px 5px 1px rgb(0, 0, 0, 0.7);
}

.idahome-nav-menu .link.active,
.idahome-nav-menu .link:hover {
  background: cyan;
  color: blue;
  border: none;
  box-shadow: inset -2px -2px 5px 1px rgba(0, 0, 0, 0.7),
    0 2px 5px 1px rgba(0, 0, 0, 0.7);
  color: white;
  text-shadow: 1px 0 2px blue, -1px 0 2px blue, 0 1px 2px blue, 0 -1px 2px blue,
    2px 2px 3px black;
}

@media (max-width: 700px) {
  .idahome-nav-menu .link,
  .idahome-nav-menu .link.active,
  .idahome-nav-menu .link:hover {
    box-shadow: none;
  }
}
