.header-idahome {
  position: fixed;
  top: 0;
  z-index: 100;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.logo-idahome {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background: url(./logos/FullColor_TransparentBgcrop_72dpi.png) center/70%
    no-repeat;
}

.title-idahome-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.title-idahome {
  font: 30px "Comfortaa", sans-serif;
  color: cyan;
  text-shadow: -1px -1px 1px white, 0 0 1px rgba(0, 0, 0, 0.5),
    1px 1px 1px rgba(0, 0, 0, 0.7), 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.subtitle-idahome {
  font: 25px "Comfortaa", sans-serif;
  color: rgb(0, 200, 200);
  text-shadow: 1px 1px 1px black, 2px 2px 2px black;
}

/* BTN NAV MENU ///////////////////////////////////////////// */
.btn-open-idahome-nav {
  position: relative;
}

.btn-open-idahome-nav .bar {
  width: 50%;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  transition: transform 200ms linear;
}

.btn-open-idahome-nav .bar.open {
  top: 41%;
  background: white;
  box-shadow: 0 0 1px 1px black, 0 1px 1px 1px black,
    1px 1px 5px 1px rgba(0, 0, 0, 0.4), 0 -0.5px 1px 1px white;
}

.btn-open-idahome-nav .bar.open:nth-child(2) {
  top: auto;
  bottom: 41%;
}

.btn-open-idahome-nav .bar.open.scale-x {
  transform: scaleX(0);
}

.btn-open-idahome-nav .bar.close {
  top: 50%;
  background: red;
  filter: drop-shadow(0 0 5px cyan);
  transform: rotate(45deg);
}

.btn-open-idahome-nav .bar.close:nth-child(4) {
  transform: rotate(-45deg);
}

.btn-open-idahome-nav .bar.close.scale-x {
  transform: rotate(45deg) scaleX(0);
}

.btn-open-idahome-nav .bar.close.scale-x:nth-child(4) {
  transform: rotate(-45deg) scaleX(0);
}

/* NAV MENU ///////////////////////////////// */
.idahome-nav {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  background: linear-gradient(
    109.5deg,
    rgba(86, 255, 248, 0.9) 9.4%,
    rgba(13, 11, 136, 0.9) 78.4%
  );
  backdrop-filter: blur(4px);
  font: 30px "Comfortaa", sans-serif;
}
/* CSSTransition //////////////////////////////// */
.idahome-nav-enter {
  opacity: 0;
}
.idahome-nav-enter-active {
  opacity: 1;
  transition: opacity 200ms ease;
}
.idahome-nav-exit {
  opacity: 1;
}
.idahome-nav-exit-active {
  opacity: 0;
  transition: opacity 200ms ease;
}

/* LINK /////////////////////////////////////////////////////// */
.btn-contact-links,
.link-services,
.link-testimonials,
.link-gallery {
  width: 60px;
  min-width: 60px;
  height: 60px;
  position: fixed;
  left: calc(50% - 30px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font: 20px "Comfortaa", sans-serif;
  letter-spacing: 3px;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 1px 3px black, 0 2px 4px black;
  border-radius: 200px;
  background: radial-gradient(circle at 10% 10%, cyan, blue);
  box-shadow: 3px 3px 10px 1px rgb(0, 0, 0, 0.5);
}

.btn-contact-links {
  top: calc(50% - 165px);
  z-index: 9;
  cursor: pointer;
}

.btn-contact-links .header {
  width: 100px;
  height: 100px;
  font: 20px "Comfortaa", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-services {
  top: calc(50% - 75px);
  z-index: 7;
  background: radial-gradient(
      circle at 35% 20%,
      RGBA(255, 255, 255, 0.7),
      transparent 25%
    ),
    radial-gradient(circle at 10% 10%, cyan, blue);
}

.link-testimonials {
  top: calc(50% + 15px);
  z-index: 6;
  background: radial-gradient(circle at 30% 20%, white, transparent 40%),
    radial-gradient(circle at 60% 60%, cyan 8px, gray 8px, transparent 9px),
    repeating-conic-gradient(at 60% 60%, cyan 0deg 60deg, magenta 60deg 120deg);
  box-shadow: inset -2px -2px 15px 1px black, 3px 3px 10px 1px rgb(0, 0, 0, 0.5);
}

.link-gallery {
  top: calc(50% + 105px);
  z-index: 5;
  background: radial-gradient(circle at 30% 20%, white, transparent 40%),
    radial-gradient(circle at 60% 60%, white 8px, gray 8px, transparent 9px),
    repeating-conic-gradient(
      at 60% 60%,
      gray 0deg 1deg,
      white 0deg 60deg,
      gray 60deg 61deg,
      cyan 60deg 120deg,
      gray 120deg 121deg,
      white 120deg 180deg,
      gray 180deg 181deg,
      yellow 180deg 240deg,
      gray 240deg 241deg,
      white 240deg 300deg,
      gray 300deg 301deg,
      magenta 300deg 360deg
    );
  box-shadow: inset -2px -2px 15px 1px black, 3px 3px 10px 1px rgb(0, 0, 0, 0.5);
}

/* CONTACT CSSTransition ////////////////////////////////// */
.btn-contact-links-enter {
  transform: translate(50vw, calc(-50vh + 135px));
}
.btn-contact-links-enter-active {
  transform: translate(0);
  transition: transform 400ms ease;
}

/* SERVICES CSSTransition ///////////////// */
.link-services-enter {
  transform: translate(50vw, calc(-50vh + 45px));
}
.link-services-enter-active {
  transform: translate(0);
  transition: transform 600ms ease;
}

/* TESTIMONIALS CSSTransition ///////////////// */
.link-testimonials-enter {
  transform: translate(50vw, calc(-50vh - 45px));
}
.link-testimonials-enter-active {
  transform: translate(0);
  transition: transform 800ms ease;
}

/* gallery CSSTransition ///////////////// */
.link-gallery-enter {
  transform: translate(50vw, calc(-50vh - 135px));
}
.link-gallery-enter-active {
  transform: translate(0);
  transition: transform 1000ms ease;
}

/* /////////////////////////////////////////////////////////////////// */
/* FOOTER STUFF TO DELETE LATER /////////////////////////////////////////// */
.btn-omni-idahome {
  width: 50px;
  position: fixed;
  left: 0;
  bottom: 5px;
  z-index: 10101;
  background: url(../../public/idahome/icons/chevron-right-cyan.svg) center /
    30% no-repeat;
  border-right: 1px solid cyan;

  border-radius: 100%;
  transition: transform 400ms ease;
}

.btn-omni-idahome.open {
  transform: rotateY(180deg);
  transition: transform 400ms ease;
}

.omni-idahome {
  width: calc(100% - 50px);
  height: 60px;
  background: rgb(0, 200, 200, 0.7);
  backdrop-filter: blur(3px);
  position: fixed;
  left: 40px;
  bottom: 0;
  z-index: 1010;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  padding: 0 5px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: inset 0 0 5px 1px cyan, 0 0 20px 0.01rem black;
}

/* CSSTransition //////////////////////////////// */
.omni-idahome-enter {
  transform: translateX(calc(-100% + 40px));
}
.omni-idahome-enter-active {
  transform: translateX(0%);
  transition: transform 400ms ease;
}
.omni-idahome-exit {
  transform: translateX(0%);
}
.omni-idahome-exit-active {
  transform: translateX(calc(-130%));
  transition: transform 400ms ease;
}

.btn-bg-res {
  color: white;
  border: 1px solid;
  border-radius: 10px;
}

.btn-bg-res.active {
  background: rgba(200, 200, 200, 0.5);
}
