.btn-contact-links.open {
  width: 100%;
  height: calc(100% - 50px);
  left: 0;
  top: 50px;
  z-index: 1010101;
  border-radius: 0;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 80px;
  transition: all 500ms ease;
  cursor: default;
}

.btn-contact-links.open .header {
  border-bottom: solid;
  border-radius: 100%;
  text-shadow: 0 0 1px black;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
}

.link-call,
.link-text,
.link-email {
  width: 60px;
  height: 60px;
  color: white;
  text-shadow: 0 0 1px black;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
  border-top: 1px solid cyan;
  border-radius: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.link-call {
  background: url(../../public/idahome/icons/phone-solid.svg) 50% 30% / 40%
    no-repeat;
}

.link-text {
  background: url(../../public/idahome/icons/message-regular.svg) 50% 30% / 40%
    no-repeat;
}

.link-email {
  background: url(../../public/idahome/icons/envelope-regular.svg) 50% 30% / 50%
    no-repeat;
}

.btn-close-contact-links {
  width: 60px;
  height: 60px;
  border-top: 1px solid red;
  border-radius: 100%;
  background: url(../../public/idahome/icons/xmark-solid.svg) 50% 30% / 40%
    no-repeat;
}
