.header-idahome {
  position: fixed;
  top: 0;
  z-index: 1010;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-idahome {
  width: 50px;
  height: 50px;
  background: url(./logos/FullColor_TransparentBgcrop_72dpi.png) center/80%
    no-repeat;
  filter: drop-shadow(0 0 2px black);
}

.title-idahome {
  font: 30px sans-serif;
  color: #0573ce;
  color: white;
  text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black,
    -1px -1px 1px black, 1px -1px 1px cyan, 2px -1px 1px cyan, 1px 1px 1px black,
    2px 2px 2px black;
}

/* BTN NAV MENU ///////////////////////////////////////////// */
.btn-open-idahome-nav {
  position: relative;
}

.btn-open-idahome-nav .bar {
  width: 50%;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  transition: transform 200ms linear;
}

.btn-open-idahome-nav .bar.open {
  top: 41%;
  background: white;
  box-shadow: 0 0 1px 1px black, 0 1px 1px 1px black,
    1px 1px 5px 1px rgba(0, 0, 0, 0.4), 0 -0.5px 1px 1px cyan;
}

.btn-open-idahome-nav .bar.open:nth-child(2) {
  top: auto;
  bottom: 41%;
}

.btn-open-idahome-nav .bar.open.scale-x {
  transform: scaleX(0);
}

.btn-open-idahome-nav .bar.close {
  top: 50%;
  background: red;
  filter: drop-shadow(0 0 5px cyan);
  transform: rotate(45deg);
}

.btn-open-idahome-nav .bar.close:nth-child(4) {
  transform: rotate(-45deg);
}

.btn-open-idahome-nav .bar.close.scale-x {
  transform: rotate(45deg) scaleX(0);
}

.btn-open-idahome-nav .bar.close.scale-x:nth-child(4) {
  transform: rotate(-45deg) scaleX(0);
}

/* NAV MENU ///////////////////////////////// */
.idahome-nav {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  background: linear-gradient(
    109.5deg,
    rgba(13, 11, 136, 0.7) 9.4%,
    rgba(86, 255, 248, 0.7) 78.4%
  );
  backdrop-filter: blur(5px);
}
/* CSSTransition //////////////////////////////// */
.idahome-nav-enter {
  opacity: 0;
}
.idahome-nav-enter-active {
  opacity: 1;
  transition: opacity 300ms ease;
}
.idahome-nav-exit {
  opacity: 1;
}
.idahome-nav-exit-active {
  opacity: 0;
  transition: opacity 300ms ease;
}

/* LINK /////////////////////////////////////////////////////// */
.link-schedule,
.link-services,
.link-reviews,
.link-about {
  width: 60px;
  min-width: 60px;
  height: 60px;
  background: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font: 100 25px Ailerons;
  letter-spacing: 4px;
  border: 1px solid aqua;
  border-radius: 200px;
  box-shadow: inset 0 0 10px 1px rgb(0, 255, 255, 0.6),
    2px 2px 5px 1px rgb(0, 0, 0, 0.7);
  position: fixed;
  left: calc(50% - 30px);
  z-index: 1;
}

.link-schedule {
  top: calc(50% - 165px);
}
.link-services {
  top: calc(50% - 75px);
}
.link-reviews {
  top: calc(50% + 15px);
}
.link-about {
  top: calc(50% + 105px);
}

/* SCHEDULE CSSTransition ////////////////////////////////// */
.link-schedule-enter {
  transform: translate(50vw, calc(-50vh + 135px));
}
.link-schedule-enter-active {
  transform: translate(0);
  transition: transform 1000ms ease;
}

/* SERVICES CSSTransition ///////////////// */
.link-services-enter {
  transform: translate(50vw, calc(-50vh + 45px));
}
.link-services-enter-active {
  transform: translate(0);
  transition: transform 1000ms ease;
}

/* REVIEWS CSSTransition ///////////////// */
.link-reviews-enter {
  transform: translate(50vw, calc(-50vh - 45px));
}
.link-reviews-enter-active {
  transform: translate(0);
  transition: transform 1000ms ease;
}

/* ABOUT CSSTransition ///////////////// */
.link-about-enter {
  transform: translate(50vw, calc(-50vh - 135px));
}
.link-about-enter-active {
  transform: translate(0);
  transition: transform 1000ms ease;
}

/* /////////////////////////////////////////////////////////////////// */
/* FOOTER STUFF TO DELETE LATER /////////////////////////////////////////// */
.footer-menu {
  width: calc(100% - 40px);
  height: 60px;
  background: rgb(0, 200, 200, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  bottom: 20px;
  z-index: 1010;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  padding: 5px 20px;
  margin: 0 20px;
  border-radius: 50px;
  box-shadow: inset 0 0 5px 1px cyan, 0 0 20px 0.01rem black;
}

/* CSSTransition //////////////////////////////// */
.footer-menu-enter {
  transform: translateY(calc(100% + 40px));
}
.footer-menu-enter-active {
  transform: translateY(0%);
  transition: transform 500ms ease;
}
.footer-menu-exit {
  transform: translateY(0%);
}
.footer-menu-exit-active {
  transform: translateY(calc(100% + 40px));
  transition: transform 500ms ease;
}

.btn-bg-res {
  color: white;
  border: 1px solid;
  border-radius: 10px;
}

.btn-bg-res.active {
  background: rgba(200, 200, 200, 0.5);
}
