.header-idahome {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.logo-idahome {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background: url(./logos/FullColor_TransparentBgcrop_72dpi.png) center/70%
    no-repeat;
}

.title-idahome-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  color: cyan;
  text-shadow: 0 0 1px black, -0.5px -0.5px 1px white,
    1px 1px 1px rgba(0, 0, 0, 0.7), 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.title-idahome {
  font: clamp(1.5rem, 0.75rem + 3.3333vw, 2.5rem) "Comfortaa", sans-serif;
  text-align: center;
}

.subtitle-idahome {
  font: clamp(1.25rem, 0.5rem + 3.3333vw, 2.25rem) "Comfortaa", sans-serif;
}

/* BTN NAV MENU ///////////////////////////////////////////// */
.btn-open-idahome-nav {
  position: relative;
}

.btn-open-idahome-nav .bar {
  width: 50%;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  transition: transform 200ms linear;
}

.btn-open-idahome-nav .bar.open {
  top: 41%;
  background: white;
  box-shadow: 0 0 1px 1px black, 0 1px 1px 1px black,
    1px 1px 5px 1px rgba(0, 0, 0, 0.4), 0 -0.5px 1px 1px white;
}

.btn-open-idahome-nav .bar.open:nth-child(2) {
  top: auto;
  bottom: 41%;
}

.btn-open-idahome-nav .bar.open.scale-x {
  transform: scaleX(0);
}

.btn-open-idahome-nav .bar.close {
  top: 50%;
  background: red;
  filter: drop-shadow(0 0 5px cyan);
  transform: rotate(45deg);
}

.btn-open-idahome-nav .bar.close:nth-child(4) {
  transform: rotate(-45deg);
}

.btn-open-idahome-nav .bar.close.scale-x {
  transform: rotate(45deg) scaleX(0);
}

.btn-open-idahome-nav .bar.close.scale-x:nth-child(4) {
  transform: rotate(-45deg) scaleX(0);
}

/* BUTTON GET QUOTE ///////////////////////////////////// */
.btn-get-quote {
  width: 150px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 10;
  color: white;
  font: 20px "Chivo", sans-serif;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
  border-radius: 10px;
  background: linear-gradient(
    109.5deg,
    rgb(86, 255, 248) 9.4%,
    rgb(13, 11, 136) 78.4%
  );
}

.modal-get-quote {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  z-index: 90;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  color: white;
  font: 100 20px sans-serif;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);
  transform-origin: 50% calc(100% - 45px);
}
.modal-get-quote-enter {
  opacity: 0;
  border-radius: 10px;
  transform: scale(0);
}
.modal-get-quote-enter-active {
  opacity: 1;
  border-radius: 10px;
  transform: scale(1);
  transition: all 500ms ease;
}
.modal-get-quote-exit {
  opacity: 1;
  border-radius: 10px;
  transform: scale(1);
}
.modal-get-quote-exit-active {
  opacity: 0;
  border-radius: 10px;
  transform: scale(0);
  transition: all 500ms ease;
}

.modal-get-quote h2 {
  margin-top: 30px;
}

.btn-close-get-quote {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 10;
  color: white;
  font: 20px "Chivo", sans-serif;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
  background: url(../../public/idahome/icons/xmark-solid.svg) center / 40%
      no-repeat,
    linear-gradient(109.5deg, rgb(86, 255, 248) 9.4%, rgb(13, 11, 136) 78.4%);
  border-radius: 10px;
}

/* NAV MENU ///////////////////////////////// */
.idahome-nav {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  background: linear-gradient(
    109.5deg,
    rgba(86, 255, 248, 0.9) 9.4%,
    rgba(13, 11, 136, 0.9) 78.4%
  );
  backdrop-filter: blur(4px);
  font: 30px "Comfortaa", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
/* CSSTransition //////////////////////////////// */
.idahome-nav-enter {
  opacity: 0;
}
.idahome-nav-enter-active {
  opacity: 1;
  transition: opacity 200ms ease;
}
.idahome-nav-exit {
  opacity: 1;
}
.idahome-nav-exit-active {
  opacity: 0;
  transition: opacity 200ms ease;
}

/* LINK /////////////////////////////////////////////////////// */
.btn-contact-links,
.link-services,
.link-testimonials,
.link-gallery {
  width: 60px;
  min-width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font: 20px "Comfortaa", sans-serif;
  letter-spacing: 3px;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 1px 3px black, 0 2px 4px black;
  border-radius: 200px;
  box-shadow: 3px 3px 10px 1px rgb(0, 0, 0, 0.5);
}

@media (orientation: landscape) {
  .idahome-nav {
    flex-direction: row;
  }
  .btn-contact-links,
  .link-services,
  .link-testimonials,
  .link-gallery {
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: 0;
  }
}

.btn-contact-links {
  z-index: 9;
  cursor: pointer;
  background: radial-gradient(circle at 10% 10%, cyan, blue);
}

.btn-contact-links .header {
  font: 20px "Comfortaa", sans-serif;
}

.link-services {
  z-index: 7;
  background: radial-gradient(
      circle at 60% 30%,
      cyan 8px,
      gray 8px,
      transparent 9px
    ),
    repeating-conic-gradient(at 60% 30%, cyan 0deg 60deg, blue 60deg 120deg);
  box-shadow: inset -2px -2px 15px 1px black, 3px 3px 10px 1px rgb(0, 0, 0, 0.5);
}

.link-testimonials {
  z-index: 6;
  background: radial-gradient(
      circle at 30% 20%,
      rgba(255, 255, 255, 0.5),
      transparent 40%
    ),
    radial-gradient(circle at 60% 60%, cyan 8px, gray 8px, transparent 9px),
    repeating-conic-gradient(at 60% 60%, cyan 0deg 60deg, magenta 60deg 120deg);
  box-shadow: inset -2px -2px 15px 1px black, 3px 3px 10px 1px rgb(0, 0, 0, 0.5);
}

.link-gallery {
  z-index: 5;
  background: radial-gradient(
      circle at 30% 20%,
      rgba(255, 255, 255, 0.5),
      transparent 40%
    ),
    radial-gradient(circle at 30% 60%, cyan 8px, gray 8px, transparent 9px),
    repeating-conic-gradient(at 30% 60%, cyan 0deg 45deg, blue 45deg 90deg);
  box-shadow: inset -2px -2px 15px 1px black, 3px 3px 10px 1px rgb(0, 0, 0, 0.5);
}

/* CONTACT CSSTransition ////////////////////////////////// */
.btn-contact-links-enter {
  transform: translate(50vw, calc(-50vh + 135px));
}
.btn-contact-links-enter-active {
  transform: translate(0);
  transition: transform 400ms ease;
}

/* SERVICES CSSTransition ///////////////// */
.link-services-enter {
  transform: translate(50vw, calc(-50vh + 45px));
}
.link-services-enter-active {
  transform: translate(0);
  transition: transform 600ms ease;
}

/* TESTIMONIALS CSSTransition ///////////////// */
.link-testimonials-enter {
  transform: translate(50vw, calc(-50vh - 45px));
}
.link-testimonials-enter-active {
  transform: translate(0);
  transition: transform 800ms ease;
}

/* gallery CSSTransition ///////////////// */
.link-gallery-enter {
  transform: translate(50vw, calc(-50vh - 135px));
}
.link-gallery-enter-active {
  transform: translate(0);
  transition: transform 1000ms ease;
}

/* /////////////////////////////////////////////////////////////////// */
/* FOOTER STUFF TO DELETE LATER /////////////////////////////////////////// */
.btn-omni-idahome {
  width: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10101;
  background: url(../../public/idahome/icons/chevron-right-cyan.svg) 10% 50% /
    20% no-repeat;
}

.btn-omni-idahome.open {
  transform: rotateY(180deg);
  background: url(../../public/idahome/icons/chevron-right-cyan.svg) 90% 50% /
    20% no-repeat;
}

.omni-idahome {
  width: calc(100% - 30px);
  height: 50px;
  background: rgb(0, 200, 200, 0.7);
  backdrop-filter: blur(3px);
  position: fixed;
  left: 20px;
  bottom: 0;
  z-index: 1010;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 0 5px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: inset 0 0 5px 1px cyan, 0 0 20px 0.01rem black;
}

/* CSSTransition //////////////////////////////// */
.omni-idahome-enter {
  transform: translateX(calc(-100% + 40px));
}
.omni-idahome-enter-active {
  transform: translateX(0%);
  transition: transform 200ms ease;
}
.omni-idahome-exit {
  transform: translateX(0%);
}
.omni-idahome-exit-active {
  transform: translateX(calc(-130%));
  /* transition: transform 100ms ease; */
}

.btn-bg-res {
  color: white;
  border: 1px solid;
  border-radius: 10px;
}

.btn-bg-res.active {
  background: rgba(200, 200, 200, 0.5);
}
