.App {
  width: 100%;
  height: 100vh;
}

.performance-num {
  position: fixed;
  left: 0;
  top: 50%;
  z-index: 99999;
  border: 1px solid;
  border-radius: 100px;
  padding-bottom: 5px;
  box-shadow: -2px 2px 10px 2px black;
  background: transparent;
  backdrop-filter: blur(2px);
}

.scene-message {
  width: fit-content;
  max-width: 200px;
  height: fit-content;
  position: fixed;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  z-index: 10;
  color: cyan;
  font: 100 30px arcade;
  text-shadow: -2px 0 1px red, 2px 0 1px red, 0 2px 1px red, 0 -2px 1px red,
    0 -3px 5px black;
  pointer-events: none;
}

.scene-message-enter {
  opacity: 0;
}
.scene-message-enter-active {
  opacity: 1;
  transition: opacity 2s ease;
}
.scene-message-exit {
  opacity: 0;
}

/* FPS METER //////////// */
.fps {
  width: 200px;
  height: 20px;
  position: fixed;
  bottom: 0;
  left: calc(50% - 100px);
  z-index: 1111111;
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 3px 15px 0 15px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  clip-path: polygon(
    40px 0,
    45px 3px,
    calc(100% - 45px) 3px,
    calc(100% - 40px) 0,
    calc(100% - 20px) 0,
    100% 100%,
    0 100%,
    20px 0
  );
  color: white;
  font: 15px Ailerons;
  letter-spacing: 2px;
}
/* CSSTransition */
.fps-enter {
  transform: translateY(100%);
}
.fps-enter-active {
  transform: translateY(0%);
  transition: transform 500ms ease;
}
.fps-exit {
  transform: translateY(0%);
}
.fps-exit-active {
  transform: translateY(100%);
  transition: transform 500ms ease;
}

/* TORUS SCENE STUFF ///////////// */
.torus-btn-wrap {
  border-radius: 100px;
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.2);
  display: flex;
}

.torus-btn-wrap .btn {
  width: 50px;
  height: 50px;
  background: url(../../public/icons/chevron-right-cyan.svg) center / 20%
    no-repeat;
}

.torus-btn-wrap .btn.down {
  background: url(../../public/icons/chevron-left-cyan.svg) center / 20%
    no-repeat;
}

/* CANVAS */
.canvas {
  background: linear-gradient(
      transparent 20%,
      rgba(255, 255, 255, 0.3),
      transparent 80%
    ),
    linear-gradient(
      to right,
      transparent 30%,
      rgba(255, 255, 255, 0.3),
      transparent 70%
    ),
    linear-gradient(transparent, rgb(0, 155, 155), transparent),
    linear-gradient(to right, transparent, #a5cc82, transparent);
}

.canvas.torus {
  background: linear-gradient(
      transparent 20%,
      rgba(255, 255, 255, 0.3),
      transparent 80%
    ),
    linear-gradient(
      to right,
      transparent 30%,
      rgba(255, 255, 255, 0.3),
      transparent 70%
    ),
    linear-gradient(transparent, #009b9b, transparent),
    linear-gradient(to right, transparent, #a5cc82, transparent);
}

.canvas.space {
  background: black;
}

.canvas.bday {
  background: linear-gradient(pink, white, pink);
}

.canvas.bday-dad {
  background: linear-gradient(aqua, white, aqua);
}

.canvas-section {
  height: 100vh;
  width: 100vw;
  padding: 80px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.canvas-section.items-end {
  justify-content: flex-end;
}

.canvas-section-div-1 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas-section-div-2 {
  width: 100%;
}

.canvas-section-div-3 {
  background-color: white;
  border: 1px solid skyblue;
  border-radius: 10px;
  padding: 12px 8px;
}
