.App {
  width: 100%;
  height: 100vh;
}

/* CANVAS STYLING */
.canvas {
  background: linear-gradient(to right, black, rgb(0, 170, 170), black);
}

.canvas.torus {
  background: linear-gradient(transparent 40%, aqua, transparent 60%), linear-gradient(to right, transparent 40%, aqua, transparent 60%), linear-gradient(transparent, rgb(0, 155, 155), transparent), linear-gradient(to right, transparent, rgb(0, 155, 155), transparent);
}

.canvas.space {
  background: black;
}

.canvas.moto {
  background: linear-gradient(white, gray, white);
}

.shoe-color-picker {
  position: fixed;
  top: 70px;
  left: 0;
  display: flex;
}

.current-shoe-mesh {
  color: white;
  filter: drop-shadow(0 0 3px black);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  text-align: center;
}

.page-title {
  width: 100%;
  position: absolute;
  top: 80px;
  left: 0;
  text-align: center;
  z-index: 4;
  padding: 10px;
  font: 100 33px Ailerons;
  color: aqua;
  filter: drop-shadow(0 0 5px red);
  pointer-events: none;
}

.page-title.animoto {
  top: 20px;
}

.canvas-section {
  height: 100vh;
  width: 100vw;
  padding: 80px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.canvas-section.items-end {
  justify-content: flex-end;
}

.canvas-section-div-1 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas-section-div-2 {
  width: 100%;
}

.canvas-section-div-3 {
  background-color: white;
  border: 1px solid skyblue;
  border-radius: 10px;
  padding: 12px 8px;
}

/* NAVIGATION PILLS -- RED PILL AND BLUE PILL */
.pill-container {
  width: 100%;
  max-width: 500px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 97;
  display: flex;
  justify-content: space-around;
}

.pill {
  min-width: 110px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
  font: 100 25px Ailerons;
  color: rgba(0, 255, 255, 0.5);
}

.pill.red {
  background: radial-gradient(ellipse at 60% 30%, rgba(255, 255, 255, 0.7) 5%, rgba(255, 0, 0, 0.5) 40%);
  box-shadow: inset 0 0 11px 1px red, 0 2px 10px 1px aqua;
}

.pill.blue {
  background: radial-gradient(ellipse at 60% 30%, rgba(255, 255, 255, 0.7) 5%, rgba(0, 0, 255, 0.5) 40%);
  box-shadow: inset 0 0 11px 1px blue, 0 2px 10px 1px aqua;
}

.pill.trans {
  width: 80px;
  min-width: 80px;
  height: 50px;
  background: radial-gradient(ellipse at 60% 30%, rgba(255, 255, 255, 0.7) 5%, rgba(0, 0, 255, 0.2) 40%);
  box-shadow: inset 0 0 11px 1px rgba(0, 0, 255, 0.5), 0 2px 10px 1px rgba(0, 255, 255, 0.5);
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 111;
}

.x-pad {
  width: 170px;
  height: 80px;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 96;
  /* border: 2px solid lightgray; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}

.x-pad div {
  width: 70px;
  height: 70px;
  border: 2px solid lightgray;
  border-radius: 20px;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.x-pad .left::after {
  content: "";
  width: 60%;
  height: 60%;
  border-left: 1px solid;
  border-bottom: 1px solid;
}

.x-pad .right::after {
  content: "";
  width: 60%;
  height: 60%;
  border-top: 1px solid;
  border-right: 1px solid;
}

.x-pad-up::before,
.x-pad-down::before,
.x-pad-left::before,
.x-pad-right::before {
  content: "";
  width: 25px;
  height: 40px;
  border: 1px solid white;
  border-top: none;
  border-radius: 5px;
  position: absolute;
}

.x-pad-up.pressing,
.x-pad-down.pressing,
.x-pad-left.pressing,
.x-pad-right.pressing {
  background: white;
}

.fire-btn {
  width: 80px;
  height: 80px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: black;
  border: 2px solid lightgray;
  border-radius: 20px;
  background: transparent;
  box-shadow: 1px 2px 5px 1px rgb(0, 0, 0, 0.5);
}

.fire-btn.pressing {
  background: red;
}
