.App {
  width: 100%;
  height: 100vh;
}

.fps {
  width: 200px;
  height: 20px;
  position: fixed;
  bottom: 0;
  left: calc(50% - 100px);
  z-index: 1111111;
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 3px 15px 0 15px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  clip-path: polygon(
    40px 0,
    45px 3px,
    calc(100% - 45px) 3px,
    calc(100% - 40px) 0,
    calc(100% - 20px) 0,
    100% 100%,
    0 100%,
    20px 0
  );
  color: white;
  font: 15px Ailerons;
  letter-spacing: 2px;
}

/* CSS Transition */
.fps-enter {
  transform: translateY(100%);
}
.fps-enter-active {
  transform: translateY(0%);
  transition: transform 500ms ease;
}
.fps-exit {
  transform: translateY(0%);
}
.fps-exit-active {
  transform: translateY(100%);
  transition: transform 500ms ease;
}

.btn-fps {
  width: 100px;
  height: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-top-right-radius: 222px;
  border-top-left-radius: 222px;
  box-shadow: inset -2px 2px 10px 1px rgb(0, 255, 255, 0.6),
    inset 2px -2px 5px 1px rgba(255, 0, 0, 0.7), 0 2px 5px 1px rgb(0, 0, 0, 0.7);
  background: black;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0 0 5px 0;
}

.btn-fullscreen {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1111111;
  background: url(../public/icons/expand-cyan.svg) center / 35% no-repeat;
  filter: drop-shadow(0 0 4px cyan);
}

.btn-fullscreen.clicked {
  background: url(../public/icons/compress-cyan.svg) center / 40% no-repeat;
}

@media (max-width: 700px) {
  .btn-fullscreen {
    margin: 0;
  }
}

/* BUTTON FOR OMNI CONTROLS ///////////////////////// */
.btn-omni {
  width: 40px;
  height: 40px;
  position: fixed;
  top: calc(50% - 20px);
  left: 0;
  z-index: 1111;
  transition: transform 500ms ease-in-out;
  border-radius: 100px;
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  background: url(../public/icons/chevron-right-cyan.svg) center/20% no-repeat;
}

.btn-omni.omni-open {
  transform: translateX(170px);
  background: url(../public/icons/chevron-left-cyan.svg) center/20% no-repeat;
}

.omni {
  height: calc(100% -120px);
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 60px;
  z-index: 777;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  text-align: center;
  color: white;
  font-size: 15px;
  overflow: auto;
}

/* OMNI CSS TRANSITION /////////////////////////// */
.omni-enter {
  transform: translateX(-100%);
}
.omni-enter-active {
  transform: translateX(0%);
  transition: transform 500ms ease-in-out;
}
.omni-exit {
  transform: translateX(0%);
}
.omni-exit-active {
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;
}

.omni p {
  box-shadow: inset 0 0 10px 1px rgba(255, 255, 255, 0.2);
  width: 50px;
}

.torus-btn-wrap {
  border-radius: 100px;
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.2);
  display: flex;
}

.torus-btn-wrap .btn {
  width: 50px;
  height: 50px;
  background: url(../public/icons/chevron-right-cyan.svg) center / 20% no-repeat;
}

.torus-btn-wrap .btn.down {
  background: url(../public/icons/chevron-left-cyan.svg) center / 20% no-repeat;
}

/* CANVAS STYLING */
.canvas {
  /* background: linear-gradient(to right, #536976, #bbd2c5, #536976); */
  /* background: linear-gradient(to right, #00467f, #a5cc82, #00467f); */
  /* background: linear-gradient(to right, #00467f, #cbcaa5, #00467f); */
  /* background: linear-gradient(to right, #334d50, #cbcaa5, #334d50); */
  /* background: linear-gradient(to right, #2c3e50, #bdc3c7, #2c3e50); */
  /* background: linear-gradient(to right, #0f2027, #203a43, #2c5364, #203a43, #0f2027); */
  /* background: linear-gradient(to right, #203a43, #6dd5fa, #203a43); */
  /* background: linear-gradient(to right, #020024, #6dd5fa, #020024); */
  /* background: linear-gradient(to right, #020024, #00d4ff, #020024); */
  /* background: linear-gradient(to right, #240000, #00d4ff, #240000); */
  /* background: linear-gradient(to right, #00d4ff, #240000, #00d4ff); */
  background: linear-gradient(
      transparent 20%,
      rgba(255, 255, 255, 0.3),
      transparent 80%
    ),
    linear-gradient(
      to right,
      transparent 30%,
      rgba(255, 255, 255, 0.3),
      transparent 70%
    ),
    linear-gradient(transparent, rgb(0, 155, 155), transparent),
    linear-gradient(to right, transparent, #a5cc82, transparent);
}

.canvas.torus {
  background: linear-gradient(
      transparent 20%,
      rgba(255, 255, 255, 0.3),
      transparent 80%
    ),
    linear-gradient(
      to right,
      transparent 30%,
      rgba(255, 255, 255, 0.3),
      transparent 70%
    ),
    linear-gradient(transparent, rgb(0, 155, 155), transparent),
    linear-gradient(to right, transparent, #a5cc82, transparent);
}

.canvas.space {
  background: black;
}

.canvas.moto {
  background: linear-gradient(white, gray, white);
}

.canvas.bday {
  background: linear-gradient(pink, white, pink);
}

.canvas.bday-dad {
  background: linear-gradient(aqua, white, aqua);
}

.shoe-color-picker {
  position: fixed;
  top: 70px;
  left: 0;
  display: flex;
}

.current-shoe-mesh {
  color: white;
  filter: drop-shadow(0 0 3px black);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  text-align: center;
}

.canvas-section {
  height: 100vh;
  width: 100vw;
  padding: 80px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.canvas-section.items-end {
  justify-content: flex-end;
}

.canvas-section-div-1 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas-section-div-2 {
  width: 100%;
}

.canvas-section-div-3 {
  background-color: white;
  border: 1px solid skyblue;
  border-radius: 10px;
  padding: 12px 8px;
}