.App {
  width: 100%;
  height: 100vh;
}

/* FPS METER */
.fps {
  width: 200px;
  height: 20px;
  position: fixed;
  bottom: 0;
  left: calc(50% - 100px);
  z-index: 1111111;
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 3px 15px 0 15px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  clip-path: polygon(
    40px 0,
    45px 3px,
    calc(100% - 45px) 3px,
    calc(100% - 40px) 0,
    calc(100% - 20px) 0,
    100% 100%,
    0 100%,
    20px 0
  );
  color: white;
  font: 15px Ailerons;
  letter-spacing: 2px;
}

/* CSSTransition */
.fps-enter {
  transform: translateY(100%);
}
.fps-enter-active {
  transform: translateY(0%);
  transition: transform 500ms ease;
}
.fps-exit {
  transform: translateY(0%);
}
.fps-exit-active {
  transform: translateY(100%);
  transition: transform 500ms ease;
}

/* OMNI CONTROLS */
.omni {
  height: calc(100% -120px);
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 60px;
  z-index: 777;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  text-align: center;
  color: white;
  font-size: 15px;
  overflow: auto;
}

/* CSSTransition */
.omni-enter {
  transform: translateX(-100%);
}
.omni-enter-active {
  transform: translateX(0%);
  transition: transform 500ms ease-in-out;
}
.omni-exit {
  transform: translateX(0%);
}
.omni-exit-active {
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;
}

.omni p {
  box-shadow: inset 0 0 10px 1px rgba(255, 255, 255, 0.2);
  width: 50px;
}

.torus-btn-wrap {
  border-radius: 100px;
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.2);
  display: flex;
}

.torus-btn-wrap .btn {
  width: 50px;
  height: 50px;
  background: url(../public/icons/chevron-right-cyan.svg) center / 20% no-repeat;
}

.torus-btn-wrap .btn.down {
  background: url(../public/icons/chevron-left-cyan.svg) center / 20% no-repeat;
}

/* CANVAS */
.canvas {
  background: linear-gradient(
      transparent 20%,
      rgba(255, 255, 255, 0.3),
      transparent 80%
    ),
    linear-gradient(
      to right,
      transparent 30%,
      rgba(255, 255, 255, 0.3),
      transparent 70%
    ),
    linear-gradient(transparent, rgb(0, 155, 155), transparent),
    linear-gradient(to right, transparent, #a5cc82, transparent);
}

.canvas.torus {
  background: linear-gradient(
      transparent 20%,
      rgba(255, 255, 255, 0.3),
      transparent 80%
    ),
    linear-gradient(
      to right,
      transparent 30%,
      rgba(255, 255, 255, 0.3),
      transparent 70%
    ),
    linear-gradient(transparent, rgb(0, 155, 155), transparent),
    linear-gradient(to right, transparent, #a5cc82, transparent);
}

.canvas.space {
  background: black;
}

.canvas.moto {
  background: linear-gradient(white, gray, white);
}

.canvas.bday {
  background: linear-gradient(pink, white, pink);
}

.canvas.bday-dad {
  background: linear-gradient(aqua, white, aqua);
}

.shoe-color-picker {
  position: fixed;
  top: 70px;
  left: 0;
  display: flex;
}

.current-shoe-mesh {
  color: white;
  filter: drop-shadow(0 0 3px black);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  text-align: center;
}

.canvas-section {
  height: 100vh;
  width: 100vw;
  padding: 80px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.canvas-section.items-end {
  justify-content: flex-end;
}

.canvas-section-div-1 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas-section-div-2 {
  width: 100%;
}

.canvas-section-div-3 {
  background-color: white;
  border: 1px solid skyblue;
  border-radius: 10px;
  padding: 12px 8px;
}
