.App {
  color: black;
}

/* THD CALL SCRIPTING SECTION ///////////////////// */
.thd-script {
  width: 100%;
  max-width: 1200px;
  border: 1px solid aqua;
  border-radius: 15px;
  box-shadow: inset -3px 3px 5px 1px rgb(0, 255, 255, 0.3), inset 3px -3px 5px 1px rgba(0, 50, 50, 0.9);
  backdrop-filter: blur(4px);
  color: white;
  font-family: Raleway;
  padding: 20px;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  background: linear-gradient(to bottom right, rgb(37, 37, 37, 0.7), rgb(0, 70, 70, 0.7), rgb(37, 37, 37, 0.7), rgb(0, 70, 70, 0.7), rgb(37, 37, 37, 0.7));
}

.thd-script h1 {
  width: fit-content;
  border-inline: 3px solid aqua;
  border-block: 1px solid red;
  padding: 10px;
  font-size: clamp(0.9rem, 0.4rem + 1.6vw, 1.4rem);
  line-height: clamp(1.2rem, 0.9036rem + 0.6286vw, 1.375rem);
}

h1.border-text-2 {
  border: solid aqua;
  border-left: solid red;
  border-right: solid red;
  padding: 5px;
  text-align: center;
}

.border-number {
  border: solid aqua;
  padding: 2px 5px;
  margin-right: 5px;
}

span.separator {
  padding: 0 10px;
  background: aqua;
}

h1.prompt {
  width: fit-content;
  border: solid aqua;
  border-radius: 10px;
  margin: 0 auto;
}

h1.block-red {
  border-block: solid red;
}

.line-height-lg {
  line-height: clamp(2rem, 0.7143rem + 4.1143vw, 3.8rem);
}

/* THD MAIN STUDY CONTENT /////////////////// */
.page-heading {
  width: 100%;
  color: white;
  font: 700 clamp(1.25rem, 1.0714rem + 0.5714vw, 1.5rem) Raleway;
  letter-spacing: 1px;
  border: solid aqua;
  border-left: 10px solid aqua;
  border-right: 10px solid aqua;
  padding: 20px;
  text-align: center;
}

.thd-notes {
  padding: 10px;
  color: white;
  font-family: Raleway;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.thd-notes h1.section-links-text {
  margin: 50px auto 0 auto;
  border: none;
  background: none;
  font-size: clamp(1rem, 0.8214rem + 0.5714vw, 1.25rem);
}

.hash-links {
  border: 1px solid aqua;
  border-radius: 10px;
  padding: 20px 10px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  font-size: clamp(0.8rem, 0.5857rem + 0.6857vw, 1.1rem);
}

.hash-link {
  width: fit-content;
  border-radius: 10px;
  box-shadow: inset -2px 2px 5px 1px rgb(255, 255, 255, 0.3), inset 2px -2px 5px 1px rgb(255, 255, 255, 0.3), -2px 5px 5px 1px rgb(0, 0, 0, 0.3);
  color: white;
  padding: 12px;
  background: rgb(0, 49, 49);
}

.hash-link:visited {
  color: gray;
  /* ***FIGURE OUT WHILE THE BELOW MARKUP DOESN'T WORK!!!
  text-decoration: line-through;
  text-decoration-thickness: 4px;
  text-decoration-color: white; */
}

.hash-link:hover {
  color: black;
  background: white;
  text-decoration: none;
}

.thd-notes-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid aqua;
  border-radius: 10px;
  padding: 15px;
}

.thd-notes-section h1 {
  width: 100%;
  margin: 70px 0 20px 0;
  padding: 20px 10px;
  border: 2px solid red;
  border-left: 10px solid red;
  border-right: 10px solid red;
  text-align: center;
  font: 700 clamp(1.25rem, 1.0714rem + 0.5714vw, 1.5rem) Raleway;
  background: linear-gradient(black, rgb(0, 75, 75));
}
.thd-notes-section h2 {
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  border-left: 5px solid red;
  border-bottom: 1px solid red;
  font-size: clamp(1rem, 0.8214rem + 0.5714vw, 1.25rem);
  background: linear-gradient(to bottom left, transparent 50%, rgb(0, 142, 142));
}

.thd-notes-section p {
  width: fit-content;
  padding: 10px;
  border: 1px solid aqua;
  border-left: 3px solid aqua;
  font-size: clamp(0.8rem, 0.5857rem + 0.6857vw, 1.1rem);
}

.border-text {
  border: 1px solid aqua;
  padding: 0 5px;
}
