.App {
  color: black;
}

.thd-notes {
  padding: 20px;
  color: white;
  font: 700 clamp(0.5rem, 2vw, 1.5rem) Raleway;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hash-links{
  border: 1px solid aqua;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}

.hash-link{
  width: fit-content;
  border: solid white;
  color: white;
  padding: 10px;
}

.thd-notes-section{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid aqua;
  padding: 10px;
}

.thd-notes h1 {
  width: 100%;
  margin: 70px 0 20px 0;
  padding: 20px 10px;
  border: 3px solid red;
  border-left: 5px solid red;
  border-right: 5px solid red;
  text-align: center;
}
.thd-notes h2 {
  width: fit-content;
  margin: 20px 0;
  padding: 10px;
  border-left: 2px solid red;
  border-bottom: 1px solid red;
}

.thd-notes p {
  width: fit-content;
  padding: 10px;
  border: 1px solid aqua;
}

.border-text {
  border: 1px solid aqua;
  padding: 0 5px;
}
