.App {
  color: black;
}

.thd-script {
  border: 1px solid aqua;
  border-radius: 15px;
  box-shadow: inset -3px 3px 5px 1px rgb(0, 255, 255, 0.3), inset 3px -3px 5px 1px rgba(0, 50, 50, 0.9);
  backdrop-filter: blur(4px);
  color: white;
  font: 800 25px Raleway;
  padding: 50px 20px;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: linear-gradient(to bottom right, rgb(37, 37, 37, 0.7), rgb(0, 70, 70, 0.7), rgb(37, 37, 37, 0.7), rgb(0, 70, 70, 0.7), rgb(37, 37, 37, 0.7));
}

@media (max-width: 700px) {
  .thd-script{
    font-size: 20px;
  }
}

.thd-script h1{
  border: 1px solid red;
  border-left: 3px solid aqua;
  border-right: 3px solid aqua;
  padding: 10px;
}

.page-heading {
  width: 100%;
  color: white;
  font: 700 clamp(1.5rem, 2vw, 2.5rem) Raleway;
  letter-spacing: 1px;
  border: solid aqua;
  border-left: 10px solid aqua;
  border-right: 10px solid aqua;
  padding: 20px;
  text-align: center;
}

.thd-notes {
  padding: 10px;
  color: white;
  font: 700 clamp(0.8rem, 2vw, 1.3rem) Raleway;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.thd-notes h1.section-links-text {
  margin-top: 50px;
  border: none;
  background: none;
}

.hash-links {
  border: 1px solid aqua;
  border-radius: 10px;
  padding: 20px 10px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
}

.hash-link {
  width: fit-content;
  border-radius: 10px;
  box-shadow: inset -2px 2px 5px 1px rgb(255, 255, 255, 0.3), inset 2px -2px 5px 1px rgb(255, 255, 255, 0.3), -2px 5px 5px 1px rgb(0, 0, 0, 0.3);
  color: white;
  padding: 12px;
  background: rgb(0, 49, 49);
}

.hash-link:visited {
  color: gray;
  text-decoration: line-through;
  text-decoration-thickness: 4px;
  text-decoration-color: white;
}

.hash-link:hover {
  color: black;
  background: white;
  text-decoration: none;
}

.thd-notes-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid aqua;
  border-radius: 10px;
  padding: 15px;
}

.thd-notes h1 {
  width: 100%;
  margin: 70px 0 20px 0;
  padding: 20px 10px;
  border: 2px solid red;
  border-left: 10px solid red;
  border-right: 10px solid red;
  text-align: center;
  background: linear-gradient(black, rgb(0, 75, 75));
}
.thd-notes h2 {
  width: fit-content;
  margin: 20px 0;
  padding: 10px;
  border-left: 5px solid red;
  border-bottom: 1px solid red;
  background: linear-gradient(to bottom left, transparent 50%, rgb(0, 142, 142));
}

.thd-notes p {
  width: fit-content;
  padding: 10px;
  border: 1px solid aqua;
  border-left: 3px solid aqua;
}

.border-text {
  border: 1px solid aqua;
  padding: 0 5px;
}
