.App {
  color: black;
}

.thd-notes {
  padding: 20px;
  color: white;
  font: 700 20px Raleway;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thd-notes h1 {
  width: fit-content;
  margin: 30px 0 10px 0;
  padding: 10px;
  border-left: 2px solid red;
  border-bottom: 1px solid red;
}

.thd-notes p {
  width: fit-content;
  padding: 10px;
  border: 1px solid aqua;
}
