.App {
  width: 100%;
  height: 100vh;
}

.fps {
  width: 200px;
  height: 20px;
  position: fixed;
  bottom: 0;
  left: calc(50% - 100px);
  z-index: 1111111;
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 3px 15px 0 15px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  clip-path: polygon(
    40px 0,
    45px 3px,
    calc(100% - 45px) 3px,
    calc(100% - 40px) 0,
    calc(100% - 20px) 0,
    100% 100%,
    0 100%,
    20px 0
  );
  color: white;
  font: 15px Ailerons;
  letter-spacing: 2px;
}

/* CSS Transition */
.fps-enter {
  transform: translateY(100%);
}
.fps-enter-active {
  transform: translateY(0%);
  transition: transform 500ms ease;
}
.fps-exit {
  transform: translateY(0%);
}
.fps-exit-active {
  transform: translateY(100%);
  transition: transform 500ms ease;
}

.btn-fps {
  width: 100px;
  height: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-top-right-radius: 222px;
  border-top-left-radius: 222px;
  box-shadow: inset -2px 2px 10px 1px rgb(0, 255, 255, 0.6),
    inset 2px -2px 5px 1px rgba(255, 0, 0, 0.7), 0 2px 5px 1px rgb(0, 0, 0, 0.7);
  background: black;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0 0 5px 0;
}

.btn-fullscreen {
  width: 60px;
  height: 50px;
  margin: 5px 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1111111;
  background: url(../public/icons/expand-cyan.svg) center / 40% no-repeat;
  filter: drop-shadow(0 0 5px cyan);
}

.btn-fullscreen.clicked {
  background: url(../public/icons/compress-cyan.svg) center / 40% no-repeat;
}

@media (max-width: 700px) {
  .btn-fullscreen {
    margin: 0;
  }
}

/* CANVAS STYLING */
.canvas {
  /* background: linear-gradient(to right, #536976, #bbd2c5, #536976); */
  background: linear-gradient(to right, #00467f, #a5cc82, #00467f);
  background: linear-gradient(to right, #00467f, #cbcaa5, #00467f);
  /* background: linear-gradient(to right, #334d50, #cbcaa5, #334d50); */
  /* background: linear-gradient(to right, #2c3e50, #bdc3c7, #2c3e50); */
  /* background: linear-gradient(to right, #0f2027, #203a43, #2c5364, #203a43, #0f2027); */
  background: linear-gradient(
    to right,
    #2980b9,
    #203a43 10%,
    #6dd5fa,
    #203a43 90%,
    #2980b9
  );
}

.canvas.torus {
  background: linear-gradient(
      transparent 20%,
      rgba(255, 255, 255, 0.3),
      transparent 80%
    ),
    linear-gradient(
      to right,
      transparent 30%,
      rgba(255, 255, 255, 0.3),
      transparent 70%
    ),
    linear-gradient(transparent, rgb(0, 155, 155), transparent),
    linear-gradient(to right, transparent, #a5cc82, transparent);
}

.btn-torus-test {
  width: 50px;
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 777;
  background: transparent;
  color: white;
  border: 1px solid;
  border-radius: 10px;
  font-size: 33px;
}
.btn-torus-test.num {
  left: 50px;
  text-align: center;
  border: none;
}
.btn-torus-test.b {
  left: 100px;
}

.canvas.space {
  background: black;
}

.canvas.moto {
  background: linear-gradient(white, gray, white);
}

.canvas.bday {
  background: linear-gradient(pink, white, pink);
}

.canvas.bday-dad {
  background: linear-gradient(aqua, white, aqua);
}

.shoe-color-picker {
  position: fixed;
  top: 70px;
  left: 0;
  display: flex;
}

.current-shoe-mesh {
  color: white;
  filter: drop-shadow(0 0 3px black);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  text-align: center;
}

.page-title {
  width: 100%;
  position: absolute;
  top: 80px;
  left: 0;
  text-align: center;
  z-index: 4;
  padding: 10px;
  font: 100 33px Ailerons;
  color: aqua;
  filter: drop-shadow(0 0 5px red);
  pointer-events: none;
}

.page-title.animoto {
  top: 20px;
}

.canvas-section {
  height: 100vh;
  width: 100vw;
  padding: 80px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.canvas-section.items-end {
  justify-content: flex-end;
}

.canvas-section-div-1 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas-section-div-2 {
  width: 100%;
}

.canvas-section-div-3 {
  background-color: white;
  border: 1px solid skyblue;
  border-radius: 10px;
  padding: 12px 8px;
}

/* NAVIGATION PILLS -- RED PILL AND BLUE PILL */
.pill-container {
  width: fit-content;
  max-width: 500px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 96;
  display: flex;
  gap: 20px;
}

.pill {
  min-width: 90px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  font: 100 25px Ailerons;
  color: cyan;
}

.pill.blue {
  justify-content: flex-start;
  background: radial-gradient(
    ellipse at 60% 30%,
    rgba(255, 255, 255, 0.5) 5%,
    rgba(0, 0, 255, 0.3) 40%
  );
  box-shadow: inset 0 -4px 10px 1px indigo, 0 2px 10px 1px rgba(0, 0, 0, 0.7);
}

.pill.red {
  justify-content: flex-end;
  background: radial-gradient(
    ellipse at 60% 30%,
    rgba(255, 255, 255, 0.7) 5%,
    rgba(255, 0, 0, 0.5) 40%
  );
  box-shadow: inset 0 -4px 10px 1px crimson, 0 2px 10px 1px rgba(0, 0, 0, 0.7);
}

.pill.home {
  justify-content: center;
}

/* MOBILE CONTROLS FOR GAMES */
.x-pad {
  width: 170px;
  height: 80px;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 96;
  /* border: 2px solid lightgray; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}

.x-pad div {
  width: 70px;
  height: 70px;
  border: 2px solid lightgray;
  border-radius: 20px;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.x-pad .left::after {
  content: "";
  width: 60%;
  height: 60%;
  border-left: 1px solid;
  border-bottom: 1px solid;
}

.x-pad .right::after {
  content: "";
  width: 60%;
  height: 60%;
  border-top: 1px solid;
  border-right: 1px solid;
}

.x-pad-up::before,
.x-pad-down::before,
.x-pad-left::before,
.x-pad-right::before {
  content: "";
  width: 25px;
  height: 40px;
  border: 1px solid white;
  border-top: none;
  border-radius: 5px;
  position: absolute;
}

.x-pad-up.pressing,
.x-pad-down.pressing,
.x-pad-left.pressing,
.x-pad-right.pressing {
  background: white;
}

.fire-btn {
  width: 80px;
  height: 80px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: black;
  border: 2px solid lightgray;
  border-radius: 20px;
  background: transparent;
  box-shadow: 1px 2px 5px 1px rgb(0, 0, 0, 0.5);
}

.fire-btn.pressing {
  background: red;
}
