:root {
  --clip-inset: 5px;
}

/* FULLSCREEN */
.btn-fullscreen {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10101;
  background: url(../public/icons/expand-cyan.svg) center / 30% no-repeat;
  filter: drop-shadow(0 0 2px black);
}

.btn-fullscreen.clicked {
  background: url(../public/icons/compress-cyan.svg) center / 30% no-repeat;
}

/* OPEN/CLOSE NAVIGATION MENU */
.btn-nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-nav-menu .bar {
  width: 50%;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  transition: transform 200ms linear;
}

.bar.open {
  top: 41%;
  background: cyan;
  box-shadow: 0 0 1px 1px rgba(0, 255, 255, 0.6),
    0 1px 3px 1px rgba(0, 0, 0, 0.6);
  filter: drop-shadow(0 0 2px black);
}

.bar.open:nth-child(2) {
  top: auto;
  bottom: 41%;
}

.bar.open.scale-x {
  transform: scaleX(0);
}

.bar.close {
  top: 50%;
  background: red;
  filter: drop-shadow(0 0 5px cyan);
  transform: rotate(45deg);
}

.bar.close:nth-child(4) {
  transform: rotate(-45deg);
}

.bar.close.scale-x {
  transform: rotate(45deg) scaleX(0);
}

.bar.close.scale-x:nth-child(4) {
  transform: rotate(-45deg) scaleX(0);
}

/* INFO */
.btn-info {
  width: 50px;
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100001;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-icon {
  width: 15px;
  height: 15px;
  border: 1px solid red;
  border-radius: 100%;
  filter: drop-shadow(0 0 3px rgb(12, 124, 124));
  background: url(../public/icons/info-solid.svg) center / 22% no-repeat;
}

.btn-vr::after {
  content: "";
  width: 31px;
  height: 4px;
  /* border: 1px solid cyan; */
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  position: absolute;
  bottom: 0;
  background: cyan;
}

/* START BTN ON INTRO SCENE  */
.btn-start-shadow {
  width: 100%;
  max-width: 160px;
  height: 40px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 98px;
  z-index: 95;
  border-radius: 200px;
  border: 1px solid cyan;
  box-shadow: 0 0 5px 1px black, inset 0 0 5px 5px cyan;
  transition: opacity 500ms ease;
}

.btn-start-shadow.opacity-0 {
  opacity: 0;
}

.btn-start {
  width: 100%;
  max-width: 160px;
  height: 40px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 98px;
  z-index: 96;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font: 100 30px Arcade;
  text-shadow: -1px 0 2px black, 1px 0 2px black, 0 -1px 2px black,
    0 1px 2px black;
  text-transform: uppercase;
  padding-top: 8px;
  border: 1px solid cyan;
  border-radius: 100px;
  background: rgba(0, 20, 20, 0.8);
  backdrop-filter: blur(5px);
  clip-path: polygon(
    40% 0,
    calc(40% + var(--clip-inset)) var(--clip-inset),
    calc(60% - var(--clip-inset)) var(--clip-inset),
    60% 0,
    100% 0,
    100% 100%,
    calc(100% - 35px) 100%,
    calc(100% - 40px) calc(100% - var(--clip-inset)),
    60% calc(100% - var(--clip-inset)),
    calc(60% - var(--clip-inset)) 100%,
    calc(40% + var(--clip-inset)) 100%,
    40% calc(100% - var(--clip-inset)),
    40px calc(100% - var(--clip-inset)),
    35px 100%,
    0 100%,
    0 0
  );
  box-shadow: inset 0 0 5px 1px cyan;
  transition: opacity 500ms ease;
}

@media (max-height: 500px) {
  .btn-start,
  .btn-start-shadow {
    bottom: 68px;
  }
}

.btn-start.opacity-0 {
  opacity: 0;
}

/* CONTROLS  */
.btn-leva-controls {
  min-height: 50px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 20px auto;
  background: url(../public/icons/video-white-o.svg) center / 50% no-repeat;
  filter: drop-shadow(0 0 2px black);
}

.btn-leva-controls.leva-open {
  border: 1px solid cyan;
  background: url(../public/icons/video-cyan.svg) center / 50% no-repeat;
  filter: drop-shadow(0 0 2px cyan);
}

/* FPS  */
.btn-fps {
  width: 50px;
  min-height: 50px;
  margin: 20px auto;
  border: 1px solid gray;
  border-radius: 10px;
  background: transparent;
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 2px black);
}

.btn-fps.meter-open {
  border: 1px solid cyan;
  color: cyan;
  filter: drop-shadow(0 0 2px cyan);
}
/* OMNI */
button.btn-omni {
  width: 40px;
  height: 40px;
  position: fixed;
  top: calc(50% - 20px);
  left: 0;
  z-index: 996;
  transition: transform 500ms ease-in-out;
  border-radius: 100px;
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  background: url(../public/icons/chevron-right-cyan.svg) center/20% no-repeat;
}

.btn-omni.omni-open {
  transform: translateX(170px);
  background: url(../public/icons/chevron-left-cyan.svg) center/20% no-repeat;
}
