@font-face {
  font-family: Ailerons;
  src: url(./assets/fonts/Ailerons-TrialVersion.otf);
}

@font-face {
  font-family: cyberpunk;
  src: url(../public/fonts/Cyberpunk-Regular.ttf);
}

@font-face {
  font-family: Everleigh;
  src: url(../public/fonts/Everleigh.otf);
}

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

:root {
  --cyan-0: cyan;
  --cyan-rgb: rgb(0, 255, 255);
  --cyan-hex: #00ffff;
  --cyan-1: #83d3ef;
  --cyan-2: rgb(51, 223, 250);
  --cyan-3: #44b9bf;
  --red-1: #f73368;
  --red-2: #ea0047;
  --red-3: #e70346;
  --red-4: #810025;
  --bg-blur: 0.5;
  --hero-text-color: white;
  --hex-color: rgba(0, 255, 255, 0.7);
  --hex-line: 0.5px;
  --trans-line: 0.5px;
  --hex-bg-image: linear-gradient(
      var(--hex-color) var(--hex-line),
      transparent var(--trans-line) calc(100% - var(--trans-line)),
      var(--hex-color) calc(100% - var(--hex-line))
    ),
    linear-gradient(
      to right,
      var(--hex-color) var(--hex-line),
      transparent var(--trans-line) calc(100% - var(--trans-line)),
      var(--hex-color) calc(100% - var(--hex-line))
    ),
    linear-gradient(
      45deg,
      var(--hex-color) 15%,
      transparent calc(15% + var(--trans-line)) calc(85% - var(--trans-line)),
      var(--hex-color) 85%
    ),
    linear-gradient(
      -45deg,
      var(--hex-color) 15%,
      transparent calc(15% + var(--trans-line)) calc(85% - var(--trans-line)),
      var(--hex-color) 85%
    );
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: black;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.pressed {
  box-shadow: none;
}

a:focus,
button:focus {
  outline-color: aqua;
}

.info-icon {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid cyan;
  border-radius: 100%;
  filter: drop-shadow(0 0 4px cyan);
  background: url(../public/icons/info-solid.svg) center / 22% no-repeat;
}
