/* FONTS ////////////////////////////////////////////////////// */
@font-face {
  font-family: Anurati;
  src: url(./assets/fonts/Anurati-Regular.otf);
}
@font-face {
  font-family: Ailerons;
  src: url(./assets/fonts/Ailerons-TrialVersion.otf);
}

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: #161b22;
}

button {
  background: none;
}

a:focus,
button:focus {
  outline-color: aqua;
}
