.credits-modal {
  width: calc(100% - 50px);
  max-width: 700px;
  height: calc(100% - 60px);
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 97;
  margin: 0 30px 0 10px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
  border-radius: 2px;
  border-bottom-left-radius: 15px;
  box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.6);
}

/* CSSTransition Styling */
.credits-modal-enter {
  transform: translateX(-100%);
  opacity: 0;
}
.credits-modal-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: 700ms ease;
}
.credits-modal-exit {
  transform: translateX(0);
  opacity: 1;
}
.credits-modal-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: 700ms ease;
}

/* CLOSE BUTTON */
.btn-close-modal {
  width: 50px;
  height: 50px;
  background: radial-gradient(rgba(0, 255, 255, 0.5), rgba(0, 255, 255, 0.7));
  border: 1px solid red;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 22px;
  clip-path: polygon(
    40% 0,
    calc(40% + 3px) 3px,
    calc(100% - 6px) 3px,
    calc(100% - 3px) 6px,
    calc(100% - 3px) calc(60% - 3px),
    100% 60%,
    100% 100%,
    80% 100%,
    75% calc(100% - 3px),
    25% calc(100% - 3px),
    20% 100%,
    0 100%,
    0 80%,
    3px 75%,
    3px 25%,
    0 20%,
    0 0
  );
  position: absolute;
  top: 0;
  right: -30px;
  margin: 0 auto;
  color: red;
  text-shadow: 0 0 5px aqua;
  font-weight: bold;
  cursor: pointer;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 0 8px 4px aqua;
}

.btn-close-modal::after {
  display: inline-block;
  content: "\00d7";
  font-size: x-large;
}

.btn-close-modal:hover {
  color: aqua;
  text-shadow: 0 0 5px red;
  border: 1px solid aqua;
  box-shadow: inset 0 0 4px 2px aqua;
}

/* LOADING  */
.loading-section {
  width: 100%;
  height: 25px;
  position: relative;
  /* clip-path: polygon(15% 0, calc(15% + 16px) 50%, calc(30% - 16px) 50%, 30% 0, 70% 0, calc(70% + 16px) 50%, calc(85% - 16px) 50%, 85% 0, 100% 0, calc(100% - 16px) 50%, 85% 50%, calc(85% - 16px) 100%, calc(70% + 16px) 100%, 70% 50%, calc(70% - 16px) 100%, calc(30% + 16px) 100%, 30% 50%, calc(30% - 16px) 100%, calc(15% + 16px) 100%, 15% 50%, 0 50%, 16px 0); */
  clip-path: polygon(
    15% 0,
    calc(15% + 16px) 50%,
    calc(30% - 16px) 50%,
    30% 0,
    70% 0,
    calc(70% + 16px) 50%,
    calc(85% - 16px) 50%,
    85% 0,
    100% 0,
    calc(100% - 16px) 50%,
    85% 50%,
    calc(85% - 16px) 100%,
    calc(70% + 16px) 100%,
    70% 50%,
    calc(70% - 16px) 100%,
    calc(30% + 16px) 100%,
    30% 50%,
    calc(30% - 16px) 100%,
    calc(15% + 16px) 100%,
    15% 50%,
    0 50%,
    16px 0
  );
}

.loading-progress {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: cyan;
  box-shadow: inset 0 0 5px 1px blue;
  transition: width 0.5s;
}

/* .loading-progress::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, red, blue, red);
  position: absolute;
  clip-path: polygon(15% 15%, calc(15% + 16px) 65%, calc(30% - 16px) 65%, 30% 15%, calc(30% + 18px) 70%, calc(30% + 18px) 70%, 35% 15%, 40% 70%, 45% 15%, 50% 70%, 55% 15%, 60% 70%, 65% 15%, calc(70% - 18px) 70%, 70% 15%, calc(70% + 16px) 65%, calc(85% - 16px) 65%, 85% 15%, calc(100% - 8px) 15%, calc(100% - 16px) 35%, 85% 35%, calc(85% - 16px) 85%, calc(70% + 16px) 85%, 70% 35%, calc(70% - 18px) 85%, 65% 30%, 60% 85%, 55% 30%, 50% 85%, 45% 30%, 40% 85%, 35% 30%, calc(30% + 18px) 85%, 30% 35%, calc(30% - 16px) 85%, calc(15% + 16px) 85%, 15% 35%, 8px 35%, 16px 15%);
  animation: electro 1s ease infinite;
} */

/* @keyframes electro {
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    background: white;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
    background: white;
  }
  60% {
    opacity: 0;
  }
} */

.loadMessage {
  width: fit-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: cyan;
  mix-blend-mode: difference;
  opacity: 1;
}

.loading-anim {
  animation: load-message-flash 2s ease infinite;
}

@keyframes load-message-flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* CONTENT & LINKS */
.text-container {
  height: 100%;
  width: 100%;
  padding: 50px 0px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.credits-header {
  margin: 20px;
  color: red;
  font: 30px Ailerons;
  text-shadow: 1px 0 3px cyan;
}

.credit-wrapper {
  margin-bottom: 20px;
}

.credits-info {
  width: 100%;
  margin: 20px 0px;
  text-align: center;
  color: cyan;
  font-size: 20px;
  word-wrap: break-word;
}

.credits-info.link {
  text-decoration: underline;
  text-shadow: -2px -2px 5px red;
}

.credits-hr {
  min-width: 200px;
  max-width: 40%;
  margin: 10px auto;
  border: 1px solid cyan;
  border-radius: 100px;
  background: cyan;
  box-shadow: 0 0 10px 1px cyan;
}
