/* MAIN PAGE HEADER ////////////////////////////////// */
.main-site-header {
  width: 100%;
  height: fit-content;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.main-site-header.display-none {
  display: none;
}

/* LEFT SIDE HEADER: LOGO ///////////// */
.logo-container {
  width: 50px;
  height: 50px;
  padding: 9px 7px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 9%;
}

.logo {
  height: 50%;
  width: 7%;
  transform-origin: 50% 100%;
  background: aqua;
  filter: drop-shadow(0 0 2px black);
  box-shadow: 0 0 1px 1px rgba(0, 255, 255, 0.6),
    0 2px 2px 1px rgba(0, 0, 0, 0.6);
  border-bottom-right-radius: 2px;
}

.logo:nth-child(2),
.logo:nth-child(4) {
  height: 100%;
}

.logo:nth-child(3) {
  margin-right: 5%;
}

.logo:nth-child(4),
.logo:nth-child(5) {
  background: red;
}

@media (min-width: 1000px) {
  .logo {
    animation: logo-anim 3s linear 1.2s;
  }
  .logo:nth-child(2),
  .logo:nth-child(4) {
    animation: logo-anim-2 3s linear 1.2s;
  }
}

@keyframes logo-anim {
  30% {
    height: 0;
  }
}

@keyframes logo-anim-2 {
  20% {
    height: 0;
  }
  50% {
    height: 50%;
  }
  70% {
    height: 0;
  }
}

.scene-title {
  padding: 5px 10px;
  font: 100 28px Ailerons;
  color: cyan;
  filter: drop-shadow(0 0 5px var(--red-2));
  pointer-events: none;
}
