.main-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10101;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid aqua;
  border-top: 2px solid red;
  border-bottom: 12px solid red;
  background: black;
}

/* CSSTransition */
.main-overlay-exit-active {
  transform: translateY(-170%);
  transition: transform 1000ms ease;
}

.main-overlay .logo-container {
  width: 200px;
  height: 200px;
  border: none;
  box-shadow: none;
  clip-path: none;
}

.main-overlay .logo,
.main-overlay .logo:nth-child(2) {
  animation: logo-pulse 1.2s ease-in-out;
}

@keyframes logo-pulse {
  50% {
    box-shadow: 0 0 10px 1px aqua;
  }
}

.main-overlay .logo:nth-child(4),
.main-overlay .logo:nth-child(5) {
  box-shadow: none;
  animation: logo-pulse-2 1.4s ease-in-out;
}

@keyframes logo-pulse-2 {
  0%,
  100% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 10px 1px red;
  }
}
