.credits-modal {
  width: calc(100% - 50px);
  max-width: 700px;
  height: calc(100% - 60px);
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 444;
  margin: 0 30px 0 10px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
  border-radius: 2px;
  border-bottom-left-radius: 15px;
  box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.6);
}

@media (max-width: 700px) {
  .credits-modal {
    background: rgba(0, 0, 0, 0.99);
    backdrop-filter: none;
  }
}

/* CSSTransition Styling */
.credits-modal-enter {
  transform: translateX(-100%);
  opacity: 0;
}
.credits-modal-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: 700ms ease;
}
.credits-modal-exit {
  transform: translateX(0);
  opacity: 1;
}
.credits-modal-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: 700ms ease;
}

/* LOADING  */
.loading-section {
  width: 100%;
  height: 25px;
  position: relative;
  /* clip-path: polygon(15% 0, calc(15% + 16px) 50%, calc(30% - 16px) 50%, 30% 0, 70% 0, calc(70% + 16px) 50%, calc(85% - 16px) 50%, 85% 0, 100% 0, calc(100% - 16px) 50%, 85% 50%, calc(85% - 16px) 100%, calc(70% + 16px) 100%, 70% 50%, calc(70% - 16px) 100%, calc(30% + 16px) 100%, 30% 50%, calc(30% - 16px) 100%, calc(15% + 16px) 100%, 15% 50%, 0 50%, 16px 0); */
  clip-path: polygon(
    15% 0,
    calc(15% + 16px) 50%,
    calc(30% - 16px) 50%,
    30% 0,
    70% 0,
    calc(70% + 16px) 50%,
    calc(85% - 16px) 50%,
    85% 0,
    100% 0,
    calc(100% - 16px) 50%,
    85% 50%,
    calc(85% - 16px) 100%,
    calc(70% + 16px) 100%,
    70% 50%,
    calc(70% - 16px) 100%,
    calc(30% + 16px) 100%,
    30% 50%,
    calc(30% - 16px) 100%,
    calc(15% + 16px) 100%,
    15% 50%,
    0 50%,
    16px 0
  );
}

.loading-progress {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: cyan;
  box-shadow: inset 0 0 5px 1px blue;
  transition: width 0.5s;
}

/* .loading-progress::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, red, blue, red);
  position: absolute;
  clip-path: polygon(15% 15%, calc(15% + 16px) 65%, calc(30% - 16px) 65%, 30% 15%, calc(30% + 18px) 70%, calc(30% + 18px) 70%, 35% 15%, 40% 70%, 45% 15%, 50% 70%, 55% 15%, 60% 70%, 65% 15%, calc(70% - 18px) 70%, 70% 15%, calc(70% + 16px) 65%, calc(85% - 16px) 65%, 85% 15%, calc(100% - 8px) 15%, calc(100% - 16px) 35%, 85% 35%, calc(85% - 16px) 85%, calc(70% + 16px) 85%, 70% 35%, calc(70% - 18px) 85%, 65% 30%, 60% 85%, 55% 30%, 50% 85%, 45% 30%, 40% 85%, 35% 30%, calc(30% + 18px) 85%, 30% 35%, calc(30% - 16px) 85%, calc(15% + 16px) 85%, 15% 35%, 8px 35%, 16px 15%);
  animation: electro 1s ease infinite;
} */

/* @keyframes electro {
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    background: white;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
    background: white;
  }
  60% {
    opacity: 0;
  }
} */

.loadMessage {
  width: fit-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: cyan;
  mix-blend-mode: difference;
  opacity: 1;
}

.loading-anim {
  animation: load-message-flash 2s ease infinite;
}

@keyframes load-message-flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* CONTENT & LINKS */
.text-container {
  height: 100%;
  width: 100%;
  padding: 50px 10px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  /* border: solid cyan; */
}

.credits-header {
  margin: 20px;
  color: red;
  font: 30px Ailerons;
  text-shadow: 1px 0 3px cyan;
}

.credit-wrapper {
  margin-bottom: 20px;
}

.credits-info {
  width: 100%;
  margin: 20px 0px;
  text-align: center;
  color: cyan;
  font-size: 20px;
  word-wrap: break-word;
}

.credits-info.link {
  text-decoration: underline;
  text-shadow: 0 1px 2px red;
}

.credits-hr {
  min-width: 200px;
  max-width: 40%;
  height: 1px;
  margin: 10px auto;
  border: none;
  background: cyan;
}

/* STYLED BORDER  */
.styled-border {
  width: 30px;
  height: calc(100% - 90px);
  border-radius: 10px;
  position: absolute;
  right: -30px;
  top: 47px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --const: 5px;
  --left: 5px;
}

.bar-wrapper {
  width: var(--const);
  height: 100%;
  position: absolute;
  left: var(--left);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0 0 2px cyan);
  transform-origin: 50% 0;
  transform: scaleY(0);
  transition: 500ms ease;
}

@media (max-width: 700px) {
  .bar-wrapper {
    filter: none;
  }
}

.bar-wrapper.scale-y {
  transform: scaleY(1);
}

.bar-wrapper.med {
  height: calc(10% + var(--const));
  left: calc(var(--left) * 2);
  z-index: 2;
}

.bar-wrapper.short {
  height: 10%;
  left: calc(var(--left) * 3);
  z-index: 1;
}

.bar-wrapper .bar {
  width: 100%;
  background: radial-gradient(white, cyan);
}

.bar.bottom {
  background: cyan;
  height: calc(var(--const) * 2);
  height: 11px;
  clip-path: polygon(
    100% 0,
    100% calc(100% - var(--const)),
    0 100%,
    0 var(--const)
  );
}

.bar.middle {
  clip-path: polygon(
    100% 0,
    100% calc(100% - var(--const)),
    0 100%,
    0 var(--const)
  );
}

/* TALL BAR //////////////// */
.bar-wrapper.tall .bar.top {
  height: calc(var(--const) * 3);
  clip-path: polygon(100% 0, 100% calc(100% - var(--const)), 0 100%, 0 0);
}

.bar-wrapper.tall .bar.middle {
  height: calc(100% - var(--const) * 7);
}

/* MEDIUM BAR ////////////////// */
.bar-wrapper.med .bar.top {
  height: calc(var(--const) * 2);
  clip-path: polygon(100% 0, 100% calc(100% - var(--const)), 0 100%, 0 0);
}

.bar-wrapper.med .bar.middle {
  height: calc(100% - var(--const) * 6);
}

/* SHORT BAR //////////////////// */
.bar-wrapper.short .bar.top {
  height: var(--const);
  clip-path: polygon(100% 0, 100% calc(100% - var(--const)), 0 100%, 0 0);
}

.bar-wrapper.short .bar.middle {
  height: calc(100% - var(--const) * 5);
}

.red-bar {
  width: 5px;
  height: calc(100% - 30px);
  right: 15px;
  background: transparent;
  box-shadow: 0 0 4px 1px red, inset 0 0 5px 1px red;
  filter: drop-shadow(0 0 2px white);
  border-bottom-right-radius: 20px;
  position: absolute;
  transform-origin: 50% 0;
  transform: scaleY(0);
  transition: 500ms ease-in;
}

@media (max-width: 700px) {
  .red-bar {
    background: red;
    box-shadow: none;
    filter: none;
  }
}

.red-bar.scale-y {
  transform: scaleY(1);
}

.red-bar.right {
  width: 5px;
  height: calc(10% - 20px);
  right: 5px;
  border-bottom-right-radius: 20px;
}
