.vr-modal {
  width: calc(100% - 20px);
  max-width: 800px;
  height: calc(100% - 60px);
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  z-index: 444;
  margin: 0 auto;
  text-align: center;
  padding: 10px 10px 90px 10px;
  color: white;
  font: 100 20px sans-serif;
  background: rgba(0, 0, 0, 0.6);
  /* background: white; */
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border-top-right-radius: 55px;
  box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.6);
}

.vr-modal-enter {
  opacity: 0;
  transform: scale(0%, 0%);
}
.vr-modal-enter-active {
  opacity: 1;
  transform: scale(100%, 100%);
  transition: all 500ms ease;
}
.vr-modal-exit {
  opacity: 1;
  transform: scale(100%, 100%);
}
.vr-modal-exit-active {
  opacity: 0;
  transform: scale(0, 0);
  transition: all 500ms ease;
}

.vr-modal h2,
.vr-modal .header {
  width: fit-content;
  padding: 0 20px;
  margin: 10px auto 20px auto;
  border-bottom: 1px solid cyan;
  border-radius: 100px;
  font: 100 25px sans-serif;
}

.wrapper-vr-sections {
  width: 100%;
  height: calc(100% - 60px);
  padding: 40px 10px;
  overflow: auto;
  border-top: 1px solid cyan;
  border-bottom: 1px solid cyan;
}

.vr-modal section {
  width: 100%;
  border: 1px solid cyan;
  border-radius: 20px;
  padding: 10px 10px 50px;
}

.vr-modal .text {
  max-width: 500px;
}

.wrapper-btns-foveation,
.wrapper-btns-vr-fps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn-fov {
  width: 50px;
  height: 50px;
  border: 1px solid cyan;
  border-radius: 10px;
  color: white;
  box-shadow: 0 1px 5px 1px black;
}

.btn-fov.minus {
  background: url(../../../public/icons/chevron-left-cyan.svg) center / 25%
    no-repeat;
}

.btn-fov.plus {
  background: url(../../../public/icons/chevron-right-cyan.svg) center / 25%
    no-repeat;
}

.btn-vr-fps {
  width: 80px;
  height: 40px;
  border: 1px solid cyan;
  border-radius: 100px;
  color: white;
  box-shadow: 0 1px 5px 1px black;
}

.btn-fov:hover,
.btn-vr-fps:hover {
  box-shadow: inset 0 0 5px 1px cyan;
  filter: drop-shadow(0 0 2px cyan);
}
