.nav-menu {
  width: calc(100% - 20px);
  height: calc(100% - 100px);
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 99;
  margin: 0 10px;
  padding: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: inset 0 1px 7px 1px rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

/* NavMenu CSSTransition */
.nav-menu-enter {
  transform: translateY(-130%);
}
.nav-menu-enter-active {
  transform: translateY(0%);
  transition: transform 700ms ease;
}
.nav-menu-exit {
  transform: translateY(0%);
}
.nav-menu-exit-active {
  transform: translateY(-130%);
  transition: transform 700ms ease;
}

/* NavMenu left and right back panels */
.bg {
  width: calc(50% + 10px);
  height: 100%;
  background: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  z-index: 98;
}

.bg.left {
  left: 0;
  border-right: 1px solid cyan;
  box-shadow: inset -3px 0 7px 1px cyan;
  clip-path: polygon(
    calc(100% - 20px) 0,
    calc(100% - 20px) calc(20% - 10px),
    100% calc(20% + 10px),
    100% calc(40% - 10px),
    calc(100% - 20px) calc(40% + 10px),
    calc(100% - 20px) calc(60% - 10px),
    100% calc(60% + 10px),
    100% calc(80% - 10px),
    calc(100% - 20px) calc(80% + 10px),
    calc(100% - 20px) 100%,
    0 100%,
    0 0
  );
}

.bg.right {
  right: 0;
  border-left: 1px solid cyan;
  box-shadow: inset 3px 0 7px 1px cyan;
  clip-path: polygon(
    100% 0,
    100% 100%,
    0 100%,
    0 calc(80% + 10px),
    20px calc(80% - 10px),
    20px calc(60% + 10px),
    0 calc(60% - 10px),
    0 calc(40% + 10px),
    20px calc(40% - 10px),
    20px calc(20% + 10px),
    0 calc(20% - 10px),
    0 0
  );
}

/* Bg Left CSSTransition */
.bg.left-enter {
  transform: translateX(-100%);
}
.bg.left-enter-active {
  transform: translateX(0%);
  transition: transform 500ms ease;
}
.bg.left-exit {
  transform: translateX(0%);
}
.bg.left-exit-active {
  transform: translateX(-100%);
  transition: transform 500ms ease;
}
/* Bg Right CSSTransition */
.bg.right-enter {
  transform: translateX(100%);
}
.bg.right-enter-active {
  transform: translateX(0%);
  transition: transform 500ms ease;
}
.bg.right-exit {
  transform: translateX(0%);
}
.bg.right-exit-active {
  transform: translateX(100%);
  transition: transform 500ms ease;
}

.nav-menu .link {
  width: 200px;
  max-width: 333px;
  height: 40px;
  margin: 30px 0;
  border: 1px solid aqua;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  border-top-right-radius: 222px;
  border-bottom-left-radius: 222px;
  box-shadow: inset -2px 2px 10px 1px rgb(0, 255, 255, 0.6),
    inset 2px -2px 5px 1px rgba(255, 0, 0, 0.7), 0 2px 5px 1px rgb(0, 0, 0, 0.7);
  background: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 100 25px Ailerons;
  letter-spacing: 4px;
  text-align: center;
  color: white;
  transition: all 300ms ease-in-out;
  text-decoration: none;
  position: relative;
  overflow: visible;
}

.nav-menu .link.active,
.nav-menu .link:hover {
  background: red;
  color: cyan;
}
